/* @override 
	http://localhost:8500/muracms/admin/css/formbuilder/templatebuilder/base.css */

@import "grid.css";

#meld-formdata {
	display: none;
}

#meld-templatebuilder {
	/*height: 500px;*/
	border: 1px solid #c2c2c2;
	background-color: #f9f9f9;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

#meld-tb {
	border: 1px solid #c2c2c2;
	padding: 5px;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
}
.meld-tb-menu {
	border-bottom: 1px solid #a6a6a6;
	background: url('images/ui-toolbar-bg.jpg') repeat-x;
	padding: 4px;
	height: 34px; /*
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;*/
}
.meld-tb-menu ul.right,.meld-tb-header ul.right {
	margin: 0;
	padding: 0;
	float: right;
}
.meld-tb-menu li,.meld-tb-header li {
	list-style: none;
	float: left;
	margin: 0 1px 0 1px;
}
.meld-tb-menu li.spacer,.meld-tb-header li.spacer {
	display: block;
	height: 28px;
	padding: 2px 3px;
	margin-left: 4px;
	border-left: 1px dotted #aaa;
}
.ui-button {
	display: block;
	padding: /*5px*/;
	border: 1px solid #dcdcdc;
	background-color: #eee;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
.ui-button.noframe {
	border: 0;
	padding: 0;
	margin: -3px 0 0 -3px;
}
.ui-button:hover {
	background-color: #fff;
}
.ui-button:active {
	background-color: #ddd;
}

#meld-tb-form .ui-tabs {
	background: transparent;
	margin-bottom: 2em;
}

#meld-tb-form .ui-tabs .ui-tabs-nav {
	/*height: 26px !important;*/
	padding-bottom: 0 !important;
	border-bottom: 0 !important;
	background: transparent !important;
	z-index: 0;
}
#meld-tb-form .ui-tabs .ui-tabs-nav li {
	border: 1px solid #eee !important;
	margin-right: 2px !important;
	margin-left: 0 !important;
}
#meld-tb-form .ui-tabs .ui-tabs-nav li.ui-tabs-selected {
	border: 1px solid #ccc !important;
	background: #ccc;
}

#meld-tb-form .ui-tabs .ui-tabs-nav li a,#meld-tb-form .ui-tabs .ui-tabs-nav li a {
	background-color: #eee;
	padding: 0.5em 1em;
	margin-left: 0 !important;
	font-size: 12px;
}

#meld-tb-form .ui-tabs .ui-tabs-nav li.ui-tabs-selected a {
	background-color: #ccc;
}

#meld-tb-form .ui-tabs-panel {
	padding-top: 0;
	border-top: 0;
	background: #ccc;
	z-index: 10;
}

#meld-tb-header li div {
	padding: 1px;
}

#meld-tb-menu .right {
	float: right;
}

/*#button-trash .ui-icon {
	background: url('../../../images/icons/delete_on.png') no-repeat;
}*/

#meld-tb-form {
	/*border-top: 1px solid #d1d1d1;*/
	background: url('images/bg-shadows.png') repeat-y 274px 0;
	background-color: #d7d7d6;
}
#meld-tb-form-fields {
	width: 26%;
	padding: 2% 2% 2% 2%;
	float: left;
	background: #f9f9f9;
	height: 450px;
	overflow-y: auto;
	overflow-x: hidden;
}
#meld-tb-data-form {
	margin: 0 0 12px !important;
	padding: 0 !important;
	width: 100%;
}
#meld-tb-fields {
	list-style: none;
	overflow-y: auto;
	margin: 0;
}

#meld-tb-fields li div.field {
	padding: 9px 0 9px 38px;
	background-repeat: no-repeat;
	background-position: 0px center;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	cursor: move;
	line-height: 1;
}

#meld-tb-fields li  {
	color: #333;
	padding: 4px 6px;
	background: -moz-linear-gradient(
		top,
		#f7f7f7 0%,
		#dbdad8);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#f7f7f7),
		to(#dbdad8));
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border: 1px solid #dedede;
	-moz-box-shadow:
		1px 1px 3px rgba(000,000,000,0),
		inset 0px 0px 2px rgba(255,255,255,.5);
	-webkit-box-shadow:
		1px 1px 3px rgba(000,000,000,0),
		inset 0px 0px 2px rgba(255,255,255,.5);
	text-shadow:
		1px 1px 0px rgba(255,255,255,1.0);
}

#meld-tb-fields .selected {
	color: #eee;
	font-weight: bold;
	background: -moz-linear-gradient(
		top,
		#777 0%,
		#999);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#777),
		to(#999));
	border: 1px solid #dedede;
	/*border-right: 5px solid #CA1212;*/
	-moz-box-shadow:
		1px 1px 2px rgba(000,000,000,0),
		inset 1px 1px 2px rgba(000,000,000,0.4);
	-webkit-box-shadow:
		1px 1px 2px rgba(000,000,000,0),
		inset 1px 1px 2px rgba(000,000,000,0.4);
	text-shadow:
		-1px -1px 0px rgba(0,0,0,0.4);
}

#meld-tb-fields .pointer {
	background: red;
	display: none;
	height: 20px;
	width: 20px;
}

#meld-tb-fields li div#selected.field {
	background-color: #FFEBEB;
	background-position-y: 0px;
}

#meld-tb-fields li.field-textfield div {
	background-image: url('images/frm_textfield_big.png');
}
#meld-tb-fields li.field-textarea div {
	background-image: url('images/frm_textarea_big.png');
}
#meld-tb-fields li.field-dropdown div {
	background-image: url('images/frm_dropdown_big.png');
}
#meld-tb-fields li.field-radio div {
	background-image: url('images/frm_radio_big.png');
}
#meld-tb-fields li.field-checkbox div {
	background-image: url('images/frm_checkbox_big.png');
}

#meld-tb-fields li.field-section {
	background: transparent;
	margin: 0 0 5px 0;
	padding: 5px;
	border: 0;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	text-shadow: 0;
	text-transform: ;
	font-size: 16px;
	color: #666;
	font-weight: bold;
}

#meld-tb-dataset {
	padding-top: 0;
	/*float: right;*/
	clear: left;
}

#meld-tb-form .btn-wrap {
	text-align: center;
	padding-bottom: 6px;
}

.columns {
	margin: 0 10px;
}
.columns.topbordered {
	border-top: 1px solid #aaa;
	margin-top: 10px;
	padding-top: 10px;
}
.columns .bordered {
	border-right: 1px solid #aaa;
}
.columns div.col2 {
	width: 49%;
	float: left;
	display: block;
	margin: 0 5px 0 0;
}
.columns div.col2.wide {
	width: 65%;
}	
.columns div.col2.right {
	width: 49%;
	display: block;
	margin: 0 0 0 5px;
}
.columns div.col3 {
	width: 31%;
	margin-left: 5px;
	float: left;
}
