/* @override 
	http://localhost:8500/muracms/admin/css/formbuilder/templatebuilder/grid.css */

/*#meld-tb-grid-padding {
	margin: 0 7px;
	background-color: #ddd;
}*/

#meld-tb-grid-table-header {
	background: url('images/ui-toolbar-bg.jpg') repeat-x scroll 0 0 transparent;
	padding: 0;
	font-size: 11px;
	font-weight: bold;
	clear: both;
	width: 100%;
	overflow: hidden;
	
}
#meld-tb-grid-table-header .nohandle {
	margin-left: -30px;
}
#meld-tb-grid-table {
	width: 100%;
	max-height: 600px;
	overflow-y: auto;
}
#meld-tb-grid-table-header li {
	list-style: none;
	padding: 0 24px;
	margin: 0;
	text-align: left;
	overflow: hidden;
}
#meld-tb-grid-table li {
	list-style: none;
	overflow: hidden;
	background-color: #f9f9f9;
	margin: 0;
	padding: 0;
	text-align: left;
	border-bottom: 1px solid #eee;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
#meld-tb-grid-table li span, #meld-tb-grid-table-header li span {
	display: block;
	float: left;
	margin: 0 2px;
	color: #000;
	line-height: 18px !important;
}

#meld-tb-grid-table-header li span {
	width: 50% !important;
}

#meld-tb-grid li .meld-tb-cell {
	padding: 3px 0;
	width: 44% !important;
}

#meld-tb-grid li .meld-tb-cell-small {
	width: 15px !important;
	display: block;
	height: 12px;
	padding-top: 8px;
}

#meld-tb-grid li .meld-tb-cell-small input.radio {
	margin-top: 2px;
}

.meld-tb-cell .button-grid-row-delete {
	display: block;
	text-indent: -9999px;
	width: 14px !important;
	height: 22px;
	border: 0 !important;
	margin-right: 6px;
	padding: 0 !important;
	background: transparent url('images/data-delete.png') no-repeat center center;
	float: right;
}
#button-grid-add {
	width: 65px !important;
	height: 22px;
	border: 0 !important;
	padding: 5px 0 0 20px;
	text-align: left;
	margin: 5px 8px;
	background: #ccc url('images/data-add.png') no-repeat 5px center;
}

#meld-tb-grid li span.handle {
	width: 10px !important;
	height: 28px;
	padding: 0 !important;
	background: transparent url('images/data-handle.png') no-repeat center center;
}

#meld-tb-grid .meld-tb-grid-display {
	padding: 2px 0px 0 4px;
	overflow: hidden;
	height: 18px;
	background-color: #c7d7e2;
}
#meld-tb-grid-message {
	margin: 0 10px;
	padding: 3px 10px;
	border: 1px solid #ffc488;
	background-color: #fff9f2;
}
#meld-tb-grid-table li span input {
	width: 100%;
	/*margin: 3px 5px !important;*/
	padding: 2px;
	background-color: #fcfcfc;
	border: 1px solid #ddd;
}
#meld-tb-grid-table .button {
	float: right;
	margin-right: 5px;
}
.meld-tb-grid-handle {
	background: transparent url('images/data-handle.png') no-repeat center 5px;
	float: left;	
	width: 8px;
	height: 20px;
	margin: 15px 2px;
	display: none;
	cursor: move;
}
#meld-tb-grid-table li.alt {
/*	background-color: #ffffff; */
}
#meld-tb-grid-table li.alt span input {
	background-color: #fff;
}
#meld-tb-grid-table li.alt .meld-tb-grid-display {
	background-color: #eee;
}

