/* This file is part of Mura CMS. 

	Mura CMS is free software: you can redistribute it and/or modify 
	it under the terms of the GNU General Public License as published by 
	the Free Software Foundation, Version 2 of the License. 

	Mura CMS is distributed in the hope that it will be useful, 
	but WITHOUT ANY WARRANTY; without even the implied warranty of 
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the 
	GNU General Public License for more details. 

	You should have received a copy of the GNU General Public License 
	along with Mura CMS.  If not, see <http://www.gnu.org/licenses/>. 

	Linking Mura CMS statically or dynamically with other modules constitutes the preparation of a derivative work based on 
	Mura CMS. Thus, the terms and conditions of the GNU General Public License version 2 ("GPL") cover the entire combined work.
	
	However, as a special exception, the copyright holders of Mura CMS grant you permission to combine Mura CMS with programs
	or libraries that are released under the GNU Lesser General Public License version 2.1.
	
	In addition, as a special exception, the copyright holders of Mura CMS grant you permission to combine Mura CMS with 
	independent software modules (plugins, themes and bundles), and to distribute these plugins, themes and bundles without 
	Mura CMS under the license of your choice, provided that you follow these specific guidelines: 
	
	Your custom code 
	
	• Must not alter any default objects in the Mura CMS database and
	• May not alter the default display of the Mura CMS logo within Mura CMS and
	• Must not alter any files in the following directories.
	
	 /admin/
	 /tasks/
	 /config/
	 /requirements/mura/
	 /Application.cfc
	 /index.cfm
	 /MuraProxy.cfc
	
	You may copy and distribute Mura CMS with a plug-in, theme or bundle that meets the above guidelines as a combined work 
	under the terms of GPL for Mura CMS, provided that you include the source code of that other code when and as the GNU GPL 
	requires distribution of source code.
	
	For clarity, if you create a modified version of Mura CMS, you are not obligated to grant this special exception for your 
	modified version; it is your choice whether to do so, or to make such modified version available under the GNU General Public License 
	version 2 without this exception.  You may, if you choose, apply this exception to your own modified versions of Mura CMS. */
/* @override 
	http://localhost:8500/muracms/admin/css/formbuilder/templatebuilder/template-form.css */
/*
<!---
||PACKAGENAMELICENSE||
--->
*/
/* @start mura-tb-form
============================================================================================= */
.mura-tb-form {
/*float: right;
width: 100%;*/
}
.mura-tb-form .mura-tb-header {
	padding: 0;
	margin: 0 0 10px;
	overflow: hidden;
	position: relative;
}

.mura-tb-form .mura-tb-header h3 {
	font-size: 15px;
	min-height: 26px;
	color: #666;
	float: left;
	margin: 0;
	background-repeat: no-repeat;
	background-position: left top;
	padding-left: 36px;
	/*padding-right: 14px;*/
	line-height: 1.1;
}

.mura-tb-header.textfield h3 {
	background-image: url('../../../images/formbuilder/frm_textfield_big.png');
}
.mura-tb-header.textarea h3 {
	background-image: url('../../../images/formbuilder/frm_textarea_big.png');
	/*background-position: left center;*/
}
.mura-tb-header.dropdown h3 {
	background-image: url('../../../images/formbuilder/frm_dropdown_big.png');
}
.mura-tb-header.radio h3 {
	background-image: url('../../../images/formbuilder/frm_radio_big.png');
	padding-top: 4px;
}
.mura-tb-header.checkbox h3 {
	background-image: url('../../../images/formbuilder/frm_checkbox_big.png');
	padding-top: 4px;
}

.mura-tb-form .mura-tb-header h3 span {
	font-size: 15px;
	font-weight: bold;
}

#button-trash {
	position: absolute;
	top: 0;
	right: 0;
}

.mura-tb-form .btn-wrap {
	text-align: center;
}

.mura-tb-form input.button,.mura-tb-form input.submit {
	/*margin: 1px 3px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-box-shadow: 1px 1px 1px #aaa;
	-webkit-box-shadow: 1px 1px 1px #aaa;*/
}
.mura-tb-form input:active.button,.mura-tb-form input:active.submit {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}
.mura-tb-form input.ui-icon {
	width: 18px;
	height: 18px;
}
.mura-tb-form select {
	/*border: 1px solid #aaa;*/
	margin: 0;
	padding: 1px;
	float: left;
}

ul.template-form {
	list-style: none;
	padding: 10px;
	margin-bottom: 0;
}

#mura-tb-dataset ul.template-form {
	padding-bottom: 0;
}

#mura-tb-form .ui-tabs .ui-tabs-nav {
	background: none;
	border: 0;
	overflow: hidden;
}

#mura-tb-fields-settings {
	float: right;
	width: 66%;
	padding: 2%;
	height: 450px;
	overflow-x: hidden;
	overflow-y: auto;
}

.template-form li {
	line-height: 1;
	padding: 8px;
	overflow: hidden;
	clear: both;
	background: #ddd;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

.template-form li:last-child {
	margin-bottom: 0 !important;
}

.mura-tb-form label {
	display: block;
	margin: 0 1em 0 0;
	padding: 5px 0;
	clear: none;
	float: left;
	width: 25%;
	text-align: right;
	line-height: 1;
	font-size: 12px;
}

.mura-tb-form input[type=text], .mura-tb-form input.text {
	font-size: 12px;
	padding: 4px;
}

.mura-tb-form input.long {
	width: 69%;
}
.mura-tb-form textarea {
	width: 69%;
	/*font-size: 9pt;*/
}
#mura-plugin .columns div.col2.wide input.long {
	width: 300px;
}
.mura-tb-form .col2 input.long {
	width: 200px;
}
.mura-tb-form .col3 input.long {
	width: 100px;
}

#dataset-grid {
	padding: 10px;
}

#datasource-new {
	border-top: 1px solid #aaa;
}

#mura-tb-grid .mura-tb-grid-checkbox {
	margin: 0 4px 0 0;
	width: auto !important;
	padding: 0 !important;
	border: 0 !important;
	background: transparent !important;
}

#mura-tb-grid .mura-tb-grid-radio {
	margin: 0 4px 0 0;
	width: auto !important;
	padding: 0 !important;
	border: 0 !important;
	background: transparent !important;
}

input.disabled {
	border: 0;
	background-color: #eee;
}

#mura-tb-fields .ui-button {
	border: 1px solid #c2c2c2;
	background: -moz-linear-gradient(
		top,
		#ffffff 0%,
		#cdcdcd);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#ffffff),
		to(#cdcdcd));
	background: -webkit-linear-gradient(
			linear, left top, left bottom, 
			from(#ffffff),
			to(#cdcdcd));
	background: -ms-linear-gradient(
			linear, left top, left bottom, 
			from(#ffffff),
			to(#cdcdcd));	
}
.ui-icon-formfield {
	background-image: url(../../../images/formbuilder/ui-icons-form-basic.png) !important;
	background-repeat: no-repeat;
	width: 24px;
	height: 20px;
	/*border: 1px solid #f2f2f2 !important;*/
	padding: 6px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
#mura-templatebuilder .ui-button-text {
	height: 32px;
	line-height: 32px;
	padding: 0 10px;
}

/*.ui-icon-formfield-field { background-position: 0 0; }*/
.ui-icon-formfield-section { background-image: none !important; width: auto; }
.ui-icon-formfield-textfield { background-position: 5px 5px; }
.ui-icon-formfield-textarea { background-position: -28px 5px; }
.ui-icon-formfield-radiobox { background-position: -157px 5px; }
.ui-icon-formfield-checkbox { background-position: -126px 5px; }
.ui-icon-formfield-select { background-position: -61px 5px; }



/*.ui-icon-formfield-hidden { background-position: -233px 0; }*/
/*.ui-icon-formfield-form { background-position: -96px 0; }*/


/* @end mura-tb-form
=================== */