# Mura CMS root/.gitignore
# ---------------------------------------------

# ignored file extensions & system directories
*~
*_notes/
*.codekit
*.esproj
*.json
*.less.css
*.log
*.sublime-project
*.sublime-workspace

# ignored '.' files and directories
._*
.cache
.DS_Store
.htaccess
.project
.rdsTempFiles
.sass-cache
.settings
.tmproj
.svn

# ignored files, regardless of location
cffp.ini.cfm
crossdomain.xml
robots.txt
settings.xml
Thumbs.db
web.config
web.xml

# ignored directories, regardless of location
compiled/
logs/
mxunit/
tests/
unitTests/

# ignored CF & Tomcat directories
CFIDE/
META-INF/
WEB-INF/

# ignored directories
/demo/
/plugins/
/temp/

# ignored 'config' directory files
/config/cfapplication.cfm
/config/mappings.cfm
/config/settings.ini.cfm
/config/version.cfm

# ignored 'default' site files & directories
/default/assets/
/default/cache/
/default/includes/Application.cfc
/default/includes/contentRenderer.cfc
/default/includes/email/
/default/includes/eventHandler.cfc

# create sites &/or directories beginning with 'demo' or 'temp' without tracking them
demo-*/
temp-*/
