BODY, TD {
	font-family: sans-serif;
	font-size: 12px;
	color: black;
}
BODY {
	background-color: white;
}
td {
	vertical-align: top;
}
FORM {
	padding: 0px;
	margin: 0px;
}
.cffm_filelist {
	border: 1px solid black;
	border-collapse: collapse;
}
.cffm_filelist TH {
	background-color: navy;
	color: white;
	font-weight: bold;
	text-align: left;
	padding-left: 5px;
	padding-right: 5px;
}
.cffm_filelist td {
	padding-left: 5px;
	padding-right: 5px;
}
.cffm_filelist td.actionLinks {
}
textarea.cffm_editor {
	width: 100%;
	height: 300px;
}
P.cffm_location {
	font-size: 20px;
	font-weight: bold;
}
P.cffm_editor	 {
	font-size: 18px;
	font-weight: bold;
}
fieldset.cffm_errorMessage {
	background-color: ffcccc;
}
fieldset.cffm_errorMessage legend {
	font-weight: bold;
	font-size: 18px;
}
table.zipcontents {
	border-collapse: collapse;
	border: 1px solid #000000;
}
table.zipcontents tr.headrow td {
	padding: 3px;
	background-color: navy;
	color: white;
	font-weight: bold;
}
table.zipcontents td {
	padding: 3px;
	border: 1px solid #000000;
}
input.button {
	background-color: ffffff;
	border: 1px solid #666666;
	color: #000099;
	font-family: sans-serif;
	font-size: 10px;
}
div.cffmDirectoryLinks {
	margin-bottom: 5px;
}