/* RSS Feed */

#svRSSFeeds {
	margin: 0;
	padding: 0;
}

#svRSSFeeds h3 {}

#svRSSFeeds p.rssBlurb {
	margin: 0 0 1em 0;
}

/* END RSS Feed */

#svRSSFeeds form { /* No borders in forms */
	display: inline;
}

#svAddNewFeed {
	background: #f2f2f2;
	padding: 1em;
	margin: 0 0 2em;
}

#svAddNewFeed dl {
	margin: 0;
	width: 50%;
}

#svAddNewFeed dt {
	margin: 0 0 .5em 0 !important;
	font-weight: bold;
	float: none !important;
	line-height: auto !important;
	width: auto !important;
	clear: none !important;
}

#svAddNewFeed dd {
	margin: 0 0 .5em 0 !important;
	float: none !important;
}

#svAddNewFeed dl#rssInternal {
	float: left;
	margin: 0;
	padding: 0;
	clear: none;
}

#svAddNewFeed dl#rssExternal {
	float: right;
	margin: 0;
	padding: 0;
	clear: none;
}

#svAddNewFeed dd select {
	float: left;
	width: 65%;
	margin: 0 !important;
}

#svAddNewFeed dd input {
	display: block;
	float: left;
	width: 65%;
	margin: 0 !important;
}

#svAddNewFeed button {
	/*
width: 30% !important;
	line-height: 20px;
	text-align: center;
	padding: 0 !important;
	margin: 0 0 0 .5em !important;
	color: #fff;
	background: #666;
	float: left;
	border: 0;
*/
}

#dragableBoxesColumn1 {
	margin: 0 0 5px 0;
	padding: 0;
	width: 50%;
}

#dragableBoxesColumn2 {
	margin: 0 0 5px 0;
	padding: 0;
	width: 50%;
}

#dragableBoxesColumn3 {}

#dragableBoxesColumn4 {}

/* @group Draggable Boxes */

.dragableBox { /* The RSS box */
	margin: 0 0 1em 0;
	padding: 0 0 1em 0;
	border: 1px solid #ccc;
}

#dragableBoxesColumn1 .dragableBox { margin-right: 10px; }

#dragableBoxesColumn2 .dragableBox { margin-left: 5px; }

.RSSbuttonClose {
	position: absolute;
	top: 2px;
	right: 2px;
	width: 16px;
	height: 16px;
	background: url(../images/delete.gif) no-repeat center center;
	text-indent: -999em;
	margin: 0;
	padding: 0;
}

.RSSbuttonEdit {
	position: absolute;
	top: 2px;
	right: 20px;
	width: 16px;
	height: 16px;
	background: url(../images/info.gif) no-repeat center center;
	text-indent: -999em;
	margin: 0;
	padding: 0;
}

/*#content .dragableBox * {  Reset all values to avoid conflicts 
	margin: 0;
	padding: 0;
}*/

.dragableBoxHeader { /* Header inside RSS box */
	color: #333;
	font-weight: bold;
	position: relative;
	min-height: 17px;
	border-bottom: 1px solid #c8c8c8;
	line-height:  1 !important;
	margin: 0 0 10px 0 !important;
	background: #eee url(../images/bg_hdr.jpg) repeat-x;
	padding: .25em 30px .25em .5em !important;
}

.dragableBoxHeader span { font-size: 11px; line-height: 1.35; }

.dragableBoxHeader h3 { /* Text inside header of RSS box */
	line-height: 20px;
	font-size: 14px;
	color: #666;
	padding: 0 45px 2px 6px !important;
	margin-left: 8px !important;
}

.dragableBoxHeader span.rssNumberOfItems { /* Text inside header of RSS box */
	
}

.dragableBoxHeader img { /* Image inside RSS box */
	border: 0;
	position: absolute;
	top: 2px;
	right: 0px;
}

/* COMMENTED BACKSLASH HACK \*/
* html .dragableBoxHeader img {
	right: 20px;
}
/* CLOSE BACKSLASH HACK */

.dragableBoxHeader img.dragableBoxEditLink { /* Edit image inside RSS box */
	right: 17px;
}

/* COMMENTED BACKSLASH HACK \*/
* html .dragableBoxHeader img.dragableBoxEditLink {
	right: 37px;
}
/* CLOSE BACKSLASH HACK */

.boxItemHeader { /* Title of items inside dragable boxes */
	color: #000;
	text-decoration: none;
	overflow: hidden;
}

.boxItemHeader a { /* Link of items inside dragable boxes */
	display: block !important;
	font-size: 11px;
	background: none;
	line-height: 1.2;
}

.boxItemHeader:hover { /* Title of items inside dragable boxes - mouseover*/
	text-decoration: underline;
}

.dragableBoxHeader input { /* text inputs that gets visible when you click on the "edit" link at the top of a rss box */
	font-size: 10px;
}

.rssNumberOfItems { /* Number of RSS items in header - the one inside parantheses */
	color: #ccc;
	display: none;
}

.dragableBoxContent { /* DIV holding data inside dragable boxes */
	clear: both;
}

#content .dragableBox ul { /* List of items */
	margin: 1em;
}

.dragableBoxContent li { /* List of items */
	margin: 0 0 .5em 0 !important;
	list-style: none;
		line-height: 1.2;
}

#rectangleDiv { /* Dotted rectangle indicating where objects will be dropped */
	border: 1px dotted red;
	margin: 0;
}

.closeButton { /* Close button */
}

.closeButton_over { /* Close button - mouse over */
}

.dragableBoxStatusBar { /* Status bar at the bottom of rss boxes */
	height: 14px;
	background-color: #f2f2f2;
	padding: 2px;
	display: none;
}

.dragableBoxEditLink { /* Edit link on top of a box */
	text-decoration: none;
	padding-top: 1px;
	right: 20px;
}

.dragableBoxEditLink:hover { /* Edit link - mouse over */
	text-decoration: underline;
}

/* @end */
	

/* RSS Edit Form */
.RSSeditForm table, .RSSeditForm tr, .RSSeditForm td { border: none !important; }
.RSSeditForm table { margin: 13px 0 0 13px !important; }
.RSSeditForm table tbody tr td { padding: 0 10px 4px 0 !important; }
.RSSeditForm input.text { width: auto; }