/*  This file is part of Mura CMS (www.gosava.com).

    Mura CMS is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, Version 2 of the License.

    Mura CMS is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Mura CMS.  If not, see <http://www.gnu.org/licenses/>.

*/

/*	Some inspiration taken from:

	BlueprintCSS - http://code.google.com/p/blueprintcss/
	Hartija Css Print Framework - http://code.google.com/p/hartija/
*/



html {
	width: 100%; 
	margin: 0;
	padding: 0;
	border: none;
	}

body {
	margin: 10pt;
	padding: 0 !important;
	font-family: 'Times New Roman', Times, serif;
	font-size: 10pt;
	line-height: 1.4;
	background: #fff !important;
	}

body * {
	color: #000 !important;
	background-image: none !important;
	background: transparent !important;
	}


a { text-decoration: underline; }

.content a:link:after,
.content a:visited:after {
	content: " <URL: "attr(href)">";
	font-size: 90%;
	font-style: italic;
	}
/* If you're having trouble printing relative links, uncomment and customize this:
   (note: This is valid CSS3, but it still won't go through the W3C CSS Validator) */

/* a[href^="/"]:after {
  content: " (http://www.yourdomain.com" attr(href) ") ";
} */


.content abbr[title]:after,
.content acronym[title]:after {
	content: ' (' attr(title) ')';
	font-size: 90%;
	font-style: italic;
	}


#crumbList { font-size: 8pt; }

#crumbList a:link:after,
#crumbList a:visited:after { content: ""; }


img {
	float:left;
	margin: 0 5pt 5pt 0;
	}

div {
	width: 100% !important;
	margin: 0 0 10pt !important;
	padding: 0 !important;
	border: none !important;	
	}

ol, ul, p, blockquote { page-break-inside: avoid; }

li, blockquote p {
	line-height: 1.25em;
	margin: 0 0 .5em;
	}

blockquote { font-style: italic; }


h1, h2, h3, h4, h5, h6 {
	page-break-inside: avoid;
	page-break-after: avoid;
	margin: 0;
	padding: 0;
	font-weight: bold;
	}
h1 { font-size: 24pt !important; }
h2 { font-size: 21pt !important; }
h3 { font-size: 18pt !important; }
h4 { font-size: 16pt !important; }
h5 { font-size: 14pt !important; }
h6 { font-size: 12pt !important; }


#header {
	height: auto !important;
	margin: 0 !important;
	padding: 0;
	border-bottom: 1px solid #999 !important
	}
#header * {
	display: none !important;
	}
#header h1 {
	position: relative;
	display: block !important;
	width: 100% !important;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	text-indent: 0 !important;
	}
#header h1 a {
	display: block !important;
	width: 100% !important;
	font-size: 24pt !important;
	text-indent: 0 !important;
	text-decoration: none;
	}


#content {
	margin: 0;
	padding: 0;
	width: 100%;
	}


table { margin: 1px 1px 10pt; text-align: left; }

th { border: 1px solid #333;  font-weight: bold; }

td { border: 1px solid #999; }

th,td { padding: 4px; }

tfoot { font-style: italic; }

caption { margin-bottom: 1em; text-align:left; }

thead { display: table-header-group;}

tr { page-break-inside: avoid;} 


.sidebar,
#navPrimary,
#navSecondary,
#footer {
	display: none;
	}


/* EOF */