/*  This file is part of Mura CMS (www.gosava.com).

    Mura CMS is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, Version 2 of the License.

    Mura CMS is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Mura CMS.  If not, see <http://www.gnu.org/licenses/>.

*/



/* @group GLOBALS
===================================== */

body {
	font-size: 62.5%;
	}

textarea {
	font-family: "Lucida Grande", "Lucida Sans", Verdana, Helvetica, Arial, sans-serif;
	}

ul, ol, dl { margin-bottom: 1.5em; }

a { text-decoration: none; }
a:hover { text-decoration: underline; }


/* @end GLOBALS
-------------------------------- */



/* @group LAYOUT
===================================== */

#container {
	width: 960px;
	margin: 0 auto;
	}

#content {
	clear: both;
	}

#primary {
	float: left;
	width: 728px;
	padding: 0 15px;
	}
.oneCol #primary {
	width: 930px;
	border: 0;
	}
.threeCol #primary {
	width: 528px;
	}

.content,
.sidebar {
	min-height: 100px; /* Fixes odd no-content disappearing bug. */
	}

#left { float: left; }
#right { float: right; }

.sidebar {
	margin: 0 15px;
	width: 170px;
	}

#left.sidebar {}
#right.sidebar {}


/* @group Layout - Header
===================================== */

#header {
	position: relative;
	}

/* @end Layout - Header
-------------------------------- */


/* @group Layout - Footer
===================================== */

#footer {
	clear: both;
	}

/* @end Layout - Footer
-------------------------------- */

/* @end LAYOUT
-------------------------------- */



/* @group NAVIGATION/UI
===================================== */

/* @group Nav - Primary
===================================== */

#navPrimary {
	float: left;
	clear: both;
	width: 100%;
	margin: 0;
	list-style: none;
	}
#navPrimary li {
	float: left;
	margin: 0 1em 0 0;
	line-height: 1.5;
	}


/* @group Nav - Primary - Dropdown
===================================== */
/* http://www.htmldog.com/articles/suckerfish/dropdowns/ */

#navPrimary li ul { /* second-level lists */
	position: absolute;
	left: -9999px;
	z-index: 1000;
	width: 12em;
	margin: 0;
	padding-left: 0;
	list-style: none;
	}

#navPrimary li li { /* all list items */
	float: left;
	width: 12em; /* width needed for Opera */
	margin: 0;
	}

#navPrimary li li a {
	display: block;
	padding: .5em;
	line-height: 1;
	text-transform: none;
	}

#navPrimary ul li.first,
#navPrimary ul li li.first { /* all list items */
	border: 0;
	}

#navPrimary li ul ul { /* third-and-above-level lists */
	margin: -2.1em 0 0 12em;
	}

#navPrimary li:hover ul ul,
#navPrimary li:hover ul ul ul,
#navPrimary li.sfhover ul ul,
#navPrimary li.sfhover ul ul ul {
	left: -9999px;
	}

#navPrimary li:hover ul,
#navPrimary li li:hover ul,
#navPrimary li li li:hover ul,
#navPrimary li.sfhover ul,
#navPrimary li li.sfhover ul,
#navPrimary li li li.sfhover ul { /* lists nested under hovered list items */
	left: auto;
	}

/* @end Nav - Primary - Dropdown
-------------------------------- */

/* @end Nav - Primary
-------------------------------- */


/* @group Nav - Secondary
===================================== */

.navSecondary { 
	margin: 0 0 2em;
	padding: 0;
	list-style: none;
	}

.navSecondary li ul {
	margin-left: 0;
	list-style: none;
	}

.navSecondary li {
	position: relative;
	margin: 0 0 1em;
	padding: 0 0 0 1em;
	line-height: 1;
	}

.navSecondary li a { 
	display: block;
	width: 100%; /* play nice in IE6 */
	padding: 0;
	text-decoration: none; /* IE6 Bug */
	}

.navSecondary li a:hover {
	color: #000;
	text-decoration: none;
	}

.navSecondary li.current a {
	color: #000;
	font-weight: bold;
	}


/* @group Nav - Secondary - Second Level
===================================== */

.navSecondary li.current ul {
	margin: 10px 0 0;
	padding: 0 0 0 10px;
	list-style: none;
	}

.navSecondary li.current ul li {
	position: relative;
	margin: 0 0 6px;
	padding: 0;
	font-weight: normal;
	}

.navSecondary li.current ul li.last { position: relative; }

.navSecondary li.current ul li a {
	display: block;
	padding: 0;
	font-weight: normal;
	text-decoration: none; /* IE6 Bug */
	}

.navSecondary li.current ul li a:hover { color: #333; }
.navSecondary li.current li.current a { color: #000; }

/* @end Nav - Secondary - Second Level
-------------------------------- */

/* @end Nav - Secondary
-------------------------------- */

/* @end NAVIGATION/UI
-------------------------------- */



/* @group MODULES
===================================== */

/* add modules, components, etc. here */

/* @end MODULES
-------------------------------- */


/* EOF */