/*
	Title: StyleMap v2 CSS
	Author: Scott Jehl, http://www.scottjehl.com
	Date: May 2007
	notes: this script will add classes and an inline width to the sitemap for centering
	USAGE: Free to use, please do not remove this top credits area.
--------------------------------------------------------------------------------------------------------*/
body {
	background: #fff;
	font-family: Verdana, "Trebuchet MS", sans-serif;
}
body.hasJS {
	font-size: 62.5%;body.hasJS  #contain  #contain 
}
p#noJS {
	padding: .5em;
	font-size: .8em;
	border: 1px dotted #666;
	color: red;
}

h1 {
	margin-bottom: 0;
}

h2 {
	font-weight: normal;
	margin-top: .2em;
}

/*
from here down, styles are scoped within body.hasJS  #contain to allow for styling differently for JS-enabled users.
*/
body.hasJS p#noJS {
	display: none;
}
body.hasJS #contain div#contain {
	width: 1000em;
	background: none;
}
body.hasJS  #contain ul#sitemap {
	float: none;
	margin: 0 auto;
}
body.hasJS  #contain ul {
	clear: left;
	margin: 2em 0 0 0;
	padding: 0;
	background: #fff;
}
body.hasJS  #contain ul ul {
	border-top: 1px solid #000;
	width: auto;
}
body.hasJS  #contain ul.solo {
	border-top: 0;
}
body.hasJS  #contain li {
	float: left;
	list-style: none;
	position: relative;
}
body.hasJS  #contain li li {
	margin: -1px 0 0 0;
}
body.hasJS  #contain div {
	background: url(../images/vLine.gif) 50% repeat-y;
	padding: 2em 5px 0 5px;
	margin: 0 .3em -2em .3em;
}
body.hasJS  #contain div.section {
	padding: 2em 5px 2em 5px;
}
body.hasJS  #contain div.first {
	background: url(../images/first.gif) 50% repeat-y;
	margin-left: 0;
}
body.hasJS  #contain div.last {
	background: url(../images/last.gif) 50% repeat-y;
	margin-right: 0;
}
body.hasJS  #contain div.root {
	padding-top: 0;
}
body.hasJS  #contain a {
	display: block;
	background: #fff;
	border: 1px solid #000;
	padding: .25em .25em .5em;
	color: #222;
	text-decoration: none;
	margin: 0 auto;
	width: 9em;
	line-height: 1.2em;
	text-align: center;
	font-size: 1.2em;
}
body.hasJS  #contain a:hover {
	background: #eee;
}
/*IE 6 (when comma-separated, IE6 didn't work, so these are duped for IE7)*/
*html body.hasJS  #contain {text-align: center;}
*html body.hasJS  #contain a {margin: 0; position: relative;}
/*IE 7*/
*:first-child+html body.hasJS  #contain {text-align: center;}
*:first-child+html body.hasJS  #contain a {margin: 0; position: relative;}