<div class="mura-control-group">
<ul>
{{#eachProp this}}
	<li>
		<strong>{{displayName}}: </strong> {{displayValue}} 
	</li>
{{/eachProp}}
</ul>
<button type="button" class="nav-back">Back</button>
</div>