// -- Bootstrap File Edits --
// Commented out glyphicons @import to avoid conflict with font-awesome
// Commented out variables.less @import in responsive.less

@import "../bootstrap/less/bootstrap.less";
@import "base-admin.less";
@import "variables.less";

.mura {
	
	@import "fonts.less";	
	@import "font-awesome.less";
	@import "typography.less";
	@import "header.less";
	@import "navigation.less";
	@import "grids.less";
	@import "login.less";
	@import "forms.less";
	@import "tag-clouds.less";
	@import "session-history.less";
	@import "category-assignments.less";	

// Override bootstrap classes

	.btn i {
		position: relative;
//		top: 1px;
	}
	
	.help-block {
		color: @black;
	}
	
	.well {
			.box-shadow(0 0 0);
			border: 0;
		}

// Additional Mura styles -- Move to separate file?
	a img {
		border: 0;
	}
	
	img.fmImage {
		border: 0 solid #fff;
		margin: 10px;
	}
	
	img.tabPreloader {
		margin: 0 0 1em auto;
	}
	
	img#assocImage {
		clear: left !important;
		float: none;
		display: block;
		padding: 1em 0;
	}

} /* End .mura */

@import "../bootstrap/less/responsive.less";

.mura { @import "base-admin-responsive.less"; }