// -- Bootstrap File Edits --
// 1. Commented out glyphicons @import to avoid conflict with font-awesome (bootstrap.less,line 30) 
// 2. Commented out variables.less @import (responsive.less, line 21) - Using our own
// 3. Commented out #grid > .core(@gridColumnWidth1200, @gridGutterWidth1200); (responsive-1200px-min.less, line 9) - Don't need super-wide layouts

@import url("jquery.ui.less");
@import url("../bootstrap/less/bootstrap.less");
@import url("variables.less");
@import url("mixins.less");

.mura {
	
	@import url("fonts.less");
	@import url("icons.less");
	@import url("typography.less");
	@import url("header.less");
	@import url("navigation.less");
	@import url("tables.less");
	@import url("mura-grid.less");
	@import url("login.less");
	@import url("forms.less");
	@import url("form-builder.less");
	@import url("tabs.less");
	@import url("tag-clouds.less");
	@import url("session-history.less");
	@import url("category-assignments.less");
	@import url("dashboard.less");
	@import url("setup.less");
	@import url("site-settings.less");
	@import url("image-details.less");
	@import url("dialog.less");
	@import url("configurator.less");
	@import url("class-extension.less");
	
	
// Layout

body.compact {
	padding: 2em;
	/*
	padding: 19px;
.border-radius(5px);
	border: 6px solid @grayDark;
*/
	background: #fff;
}

// Override bootstrap classes

.dropdown .dropdown-menu {
	.border-radius(6);
}

.btn-icon-only {
	padding-right: 3px;
	padding-left: 3px;
}

.btn i {
	position: relative;
	text-shadow: 0 1px 0 rgba(255,255,255,1);
	}
	
.nav-pills .btn {
	padding-top: 6px;
	padding-bottom: 6px;
	border: 0;
}

.well {
		.box-shadow(0 0 0) !important;
		.well-small;
		background: @grayLighter;
		margin-bottom: @baseLineHeight;
		clear: both;
		border: 1px solid transparent; /* Border 0 leaves artifacting on corners in Safari 6 */
	}
	
pre {
	background-color: lighten(@blue,36%);
	border: 0;
	padding: @baseLineHeight;
}

a[rel="tooltip"] {
	display: inline-block;
	color: @grayDark;
	padding-right: .25em;
	text-decoration: none;
	
	i {
		color: @gray;
		font-size: 14px;
		}
	
	}
	
.input-prepend, .input-append {
	
	i {
		font-size: 16px;
		}
	
}
		
div.tooltip {
	
	.tooltip-inner {
		padding: 10px;
		text-align: left;
		line-height: 1.2;
		}
	
	.tooltip-arrow {
		padding: 0;
		}
	}

.badge {
	background: darken(@gray,10%);
	font-size: @baseFontSize;
	}

// Additional Mura styles -- Move to separate file?
.alert {
	
	padding: 2px 9px 9px;
	margin-bottom: @baseLineHeight;
	.border-radius(3px);
	border: 2px solid;
	line-height: 1.2;
	clear: both;
	
	ul, ol {
		margin: 0 0 0 @baseLineHeight;
		padding: 0;
		
		li:last-child {
			margin-bottom: 0;
		}
	}
}

.alert-icon {
		.icon-font('FontAwesome');
		font-size: 32px;
		line-height: 1;
		.inline-block;
		margin-right: .25em;
		position: relative;
		top: 7px;
		/* text-shadow: 0 1px 1px rgba(255,255,255,.15); */
		}

.notice {
	.alert;
	background-color: @warningBackground;
	border: 1px solid @warningBorder;
	
	&:before {
		.alert-icon;	
		content: "\f05a";
		}
	
	}
	
.success {
	.alert;
	.alert-success;
	
	&:before {
		.alert-icon;
		content: "\f087";
		}
		
	}

.error {
	.alert;
	.alert-error;
	
	&:before {
		.alert-icon;
		content: "\f071";
		}
	}

.info {
	.alert;
	.alert-info;
	
	&:before {
		.alert-icon;
		content: "\f05a";
		}
	
	}


.separate {
	.clearfix;
	clear: both;
	/* padding-bottom: @baseLineHeight - 4px; */
	margin-top: @baseLineHeight / 1.5;
	/* border-bottom: 1px dashed @grayLight; */
	//background: url(../images/rule_dotted_big.gif) repeat-x bottom;
	}
	
.divide {
	.clearfix;
	clear: both;
	margin-top: @baseLineHeight + 4px;
	padding-top: @baseLineHeight;
	border-top: 1px solid @grayLight;
	}

a img {
	border: 0;
	}

img.fmImage {
	border: 0 solid #fff;
	margin: 10px;
	}

img.tabPreloader {
	margin: 0 0 1em auto;
	}

#sm-modify-view {
	margin-bottom: @baseLineHeight;	
	}

/* @group Metadata List */

.metadata-horizontal {
	margin: 1px 0 0 0;
	padding: .2em .5em;
	list-style: none;
	float: right;
	background: #f9f9f9;
	.border-radius(14px);
	font-size: @baseFontSize;
	}

.metadata-horizontal li {
	margin: 0 .5em .25em;
	padding: 0;
	color: #333;
	float: right;
	line-height: 24px;
	}

.metadata-horizontal li strong {
	padding: 0 .25em 0 0;
	}

.metadata-horizontal #ratestars {
	position: relative;
	top: 3px;
	}

.selectContentType {
	margin-bottom: 1em;
	clear: both;
	}

.metadata {

	.well;
		
	list-style: none;
	margin-left: 0 !important;
		
		li {
			margin-bottom: .5em;
		}
	
	}
	
/* @end */

/* Categorization Tab */
#carch #tabCategorization {

	.mura-grid {
		margin: 0 @gridGutterWidth @baseLineHeight;
	}

	.mura-grid-hdr {
		dt, dd { font-weight: bold; }
	}
	.control-group { padding:0; }

	.btn { width:80px; }

	a[rel="tooltip"] { padding-right:6px; }


	dl {
		dt {
			line-height: 28px;
			&.categorytitle { 
				width:530px;
			}
		}
		dd.categoryassignmentwrapper {
			width: 150px;
			border-right:none;
		}
	}

	.indent { padding-left: 1em; }
	
	li {
		cursor: default;
		.indent {
			padding-left: 1em;
		}
		li .indent {
			padding-left: 3em;
		}
		li li .indent {
			padding-left: 5em;
		}
		li li li .indent {
			padding-left: 7em;
		}
		li li li li .indent {
			padding-left: 9em;
		}
		li li li li li .indent {
			padding-left: 11em;
		}
		li li li li li li .indent {
			padding-left: 13em;
		}
	}
}
/* End #tabCategorization */

#tabRelatedcontent {

	table {
		margin-top: @baseLineHeight;
	}
}

} /* End .mura */

// @import url("../bootstrap/less/responsive.less");
// .mura { @import url("admin-responsive.less"); }