.btn {
  color: @grayDark;
  border-color: @btnBorder @btnBorder darken(@btnBorder, 10%);
  
  i {
	position: relative;
	text-shadow: 0 1px 0 rgba(255,255,255,1);
	}
	
}

.btn-primary {
	.border-radius(28px);
	.box-shadow(inset 0 0 0);
	.buttonBackground(@btnPrimaryBackground, @btnPrimaryBackgroundHighlight);
	//.box-shadow(-1px -1px 6px rgba(0,0,0,.17));
	border-color: @btnPrimaryBorder @btnPrimaryBorder darken(@btnPrimaryBorder, 8%) @btnPrimaryBorder !important;
	text-shadow: 0 -1px 1px rgba(0,0,0,.35);
	margin: 0 .15em;
	color: @white !important;
		
		i {
			color: darken(@blue,30%);
			text-shadow: 0 1px 0 rgba(255,255,255,.25);
			}	
	}

.control-group .btn-inverse {
	color: @white;
	border: 0;
	}

.btn-icon-only {
	padding-right: 3px;
	padding-left: 3px;
	}
	
.nav-pills .btn {
	padding-top: 6px;
	padding-bottom: 6px;
	border: 0;
	}

// Nested button groups, very useful for dropdowns
// -------------------------------------------------
.btn-group > .btn-group {
	
	> .btn {
		.border-radius(0);
		}
	
	.dropdown-menu >li > a {
		padding-left: 10px;
		padding-right: 10px;
		margin-right: 0 !important;
	}
	
  }

// style for first and last element of btn-groups
// use last-of-type and first-of-type, as dropdown-menu may be last-child
.btn-group > .btn-group:first-child > .btn:first-of-type {
  .border-top-left-radius(@baseBorderRadius);
  .border-bottom-left-radius(@baseBorderRadius);
  .border-top-right-radius(0);
  .border-bottom-right-radius(0);
  margin-left: 1px;
  margin-right: -1px;
  }

.btn-group > .btn-group:last-child > .btn:last-of-type,
.btn-group > .btn-group#mura-download-unlocked > .btn {
  .border-top-right-radius(@baseBorderRadius);
  .border-bottom-right-radius(@baseBorderRadius);
  .border-top-left-radius(0);
  .border-bottom-left-radius(0);
  margin-right: 1px;
  }

// fix margins between consecutive btns and btn-groups.
.btn-group > .btn-group+.btn-group,
.btn-group > .btn+.btn-group,
.btn-group > .btn-group+.btn {
  margin-left: 0px;    
  margin-right: -1px;
  }
  
.btn-group > .btn+.btn-group {
  margin-left: -1px;
  }
  
.btn-group > .btn-group > .btn:first-of-type {
  border-left: 0 !important; //?
  }
 
// Custom Buttons
// -------------------------------------------------

.btn-razuna-logo {
	.inline-block;
	margin: 0 0 0 1em;
	padding: 0 0 0 1em;
	border-left: 1px solid @gray;
	width: 134px;
	height: 28px;
	line-height: 28px;
	text-indent: -1000em;
	background: url('../images/razuna-logo.png') 16px center no-repeat;
}

.btn-razuna-icon i {
	.inline-block;
	width: 14px;
	height: 14px;
	margin-bottom: -3px;
	background: url('../images/razuna-btn-icon.png') 0 center no-repeat;
}