
/* BS3 CLASS MAPPING */
@import "bootstrap/bootstrap.less";

// grid 

#mura-content{
  .make-row();
  padding-left: 15px;
  padding-right: 15px;
}
.mura-layout-row,
.mura-header{
  .make-row();
  margin-left: 0;
  margin-right: 0;
}
.mura-header h1{
  .make-sm-column(3.75);
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;  
}

.mura-item-title{
  .make-sm-column(7);
}
.mura-header ul.breadcrumb{
  .make-xs-column(12);
}
.mura-item-metadata{
  .make-xs-column(12);
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}
main > .content > :first-child:not(.alert){
  .make-row();
}
.half{
  .make-xs-column(6);
  padding-left:0px;
  padding-right:0px;
}

#cdashboard #main,
#mura-content #main{
  .make-md-column(8);
  .make-lg-column(9);
  padding-left: 0px;
  padding-right: 0px;
}
#cdashboard .sidebar,
#mura-content .sidebar{
  .make-md-column(4);
  .make-lg-column(3);
}
#cdashboard #main + .sidebar,
#mura-content #main + .sidebar{
  padding-left: 15px;
  padding-right: 0;
}


// forms

#mura-content > form{
  .form-horizontal;
}
.mura-control-group{
  .form-group;
  .make-row();
  margin-left:0px;
  margin-right:0px;
}

.mura-control-group > label{
  .make-xs-column(12);
}
.mura-control-group > label:not([class*="checkbox"]):not([class*="radio"]){
  padding-left:0px;
  padding-right:0px;
}

// form elements w/ label
.mura-control-group > label + textarea,
.mura-control-group > label + * + textarea,
.mura-control-group > label + input[type=text]:not([class*="datepicker"]),
.mura-control-group > label + * + input[type=text]:not([class*="datepicker"]),
.mura-control-group > label + input[type=password],
.mura-control-group > label + * + input[type=password],
.mura-control-group > label + input[type=file],
.mura-control-group > label + * + input[type=file],
.mura-control-group > label + select:not([class*="time"]),
.mura-control-group > label + * + select:not([class*="time"]){
  .form-control;
  .form-control;
  .make-sm-column(9);
}
.sidebar .mura-control-group > label + textarea,
.sidebar .mura-control-group > label + * + textarea,
.sidebar .mura-control-group > label + input[type=text],
.sidebar .mura-control-group > label + * + input[type=text],
.sidebar .mura-control-group > label + input[type=password],
.sidebar .mura-control-group > label + * + input[type=password],
.sidebar .mura-control-group > label + input[type=file],
.sidebar .mura-control-group > label + * + input[type=file],
.sidebar .mura-control-group > label + select:not([class*="time"]),
.sidebar .mura-control-group > label + * + select:not([class*="time"]){
  padding: 4px 8px;
  height: 2em;
  .make-sm-column(12);
}
select[multiple],
select[size]
,.mura-control-group > label + select[multiple], 
.mura-control-group > label + select[size] {
    height: auto !important;
}
.mura-control-group > label + .datepicker{
  .form-control;
  .make-sm-column(2.6);
}
.mura-control-group .mura-interval-end input[type=text]{
  .form-control;
  .make-sm-column(3);
}

// inline groups
.mura-control-inline{
  > label {
  float:left;
  padding-right: 8px;
  padding-top: 8px;
  }
  > input{
  .make-sm-column(3);
  .form-control;
  }
  > select{
  .make-sm-column(3);
  .form-control;
  }
  > input + label{
  margin-left: 8px;
  }
  > button {
  .btn;
  height: 36px;
  }
}

.label-inline{
  input, select{
    margin-left: 8px;
    margin-right: 8px;
  }
}

// checkboxes / radio buttons

.mura-control-group > .checkbox-group,
.mura-control-group > .radio-group{
  .make-sm-column(9);
}

// ckeditor fields

.mura-control-group textarea + .cke{
  .make-sm-column(9);
  padding-left:0px;
  padding-right:0px;
}

// datepicker fields

#main input[type=text].datepicker,
.mura-content select.mura-repeat-option{
  .form-control;  
  .make-sm-column(3);
}
select.time{
  .form-control;  
  .make-sm-column(1);
  .make-xs-column(3);
  margin-left: 8px;
  padding-right: 8px;
}

// search param fields

#searchParams input[type=text],
#searchParams select{
  .form-control;  
  .make-xs-column(2); 
  margin-right: 12px; 
  padding: 0 3px;
  height: 24px;
}


// form alerts
#mura-content > form .alert:not([class*="alert-"]){
  .alert-info;
}

// tabs
.mura-tabs{
  .nav; 
}
/* hide tab header controls for now */
.tab-pane .block-options{
  display:none;
}

// image details
#mura-content #image-details .mura-control-group label + .btn-group{
  .make-sm-column(12);
  padding: 15px 0;
}
#mura-content #image-details .mura-control-group .load-inline{
  .make-sm-column(12);
}

// login
.block-themed{};
#mura-login{
  .make-row();
   
  .mura-control-group > label + input, 
  .mura-control-group > label + select{
    .make-xs-column(12); 
  }

  > .block{
    .make-xs-column(10);
    .make-sm-column(4);
    margin: 0 auto;
    padding: 0;
    float: none !important;
  } 

  > .block + .block{
    margin-top: 15px;
  }
  .block-header{
    .bg-primary;
    h3{
      margin: 0;
      font-size: 15px;
      font-weight: 600;
      text-transform: uppercase;
      line-height: 1.2;
    }
  }
}

/* TEMPLATE MAPPING */
//@import "oneui/main.less";
//@import "/admin/assets/css/oneui.css";

























/* LEGACY MURA / BS2 CLASS MAPPING */

// headings
h1:not([class]){
	.page-heading;
  font-size: 24px;
}

// alert classes
.alert-error{
  .alert-danger;
}
// default to warning
.alert:not([class*="alert-"]){
  .alert-warning;
}

// bs3 grid
.container-fluid{
  .container;
}
.row-fluid{
  .row;
}
.span1{
  .col-xs-1;
}
.span2{
  .col-xs-2;
}
.span3{
  .col-xs-3;
}
.span4{
  .col-xs-4;
}
.span5{
  .col-xs-5;
}
.span6{
  .col-xs-6;
}
.span7{
  .col-xs-7;
}
.span8{
  .col-xs-8;
}
.span9{
  .col-xs-9;
}
.span10{
  .col-xs-10;
}
.span11{
  .col-xs-11;
}
.span12{
  .col-xs-12;
}

// bs3 buttons

// default to btn-default
.btn:not([class*="btn-"]){
  .btn-default;
}
// button sizes
.btn-mini{
  .btn-xs;
}
.btn-small{
  .btn-sm;
}
.btn-large{
  .btn-lg;
}

// form layout

// form controls
.tab-pane .fieldset .control-group{
	.form-group;
	.row;
  margin-left: 0;
  margin-right: 0;
}
// labels
.form-horizontal .control-label{
	.col-xs-3;
}
.form-horizontal .controls{
	.col-xs-9;
}


// .form-actions (bs3 deprecated)
.form-actions {
  padding: (@baseLineHeight - 15) 0 @baseLineHeight;
  margin-top: @baseLineHeight;
  margin-bottom: @baseLineHeight;
  background-color: @formActionsBackground;
  border-top: none;
  .clearfix(); // Adding clearfix to allow for .pull-right button containers
  > .btn{
  margin-right: 15px;
  }
}
.form-actions .btn{
    background-color: #DDDEDD;
    border-color: #BCBCBC;
}

// secondary nav 

#nav-module-specific{
  .make-sm-column(8.25);
  text-align:right;
  padding-left: 0;
  padding-right: 0;
  
  // style a.btn like label
  .btn{
    .label;
  }
  .label{
    .btn;
  }
  .metadata-horizontal li{
     .btn;
     .label;
  }
}

// default to label-default
.label:not([class*="label-"]){
  .label-default;
}

// table layout
.mura-table-grid{
	.table-striped;
}