#configurator,
#configuratorTab {
	font-size: 11px;
}

#configurator p.no-options {
	margin: 2em 0;
}

#configurator .sortableFields,
#configuratorTab .sortableFields {
	overflow: hidden;
	width: 100%;
	/*max-width: 420px;*/
}

#configurator dt,
#configuratorTab dt {
	overflow: hidden;
}

dt#availableFields {
	margin-bottom: 0;
}

#availableFields span, .dragMsg span {
	display: block;
	float: left;
	width: 193px;
}

.sortableFields .dragMsg {
	font-style: italic;
	font-size: 11px !important;
	color: #ccc;
	overflow: hidden;
	margin: 0;
}

#availableListSort,
#displayListSort,
#contentAvailableListSort,
#contentDisplayListSort  {
	width: 183px;
	margin: .5em 10px .5em 0!important;
	padding: 1em !important;
	list-style-type: none;
	margin: 0;
	padding: 0;
	float: left;
}

#availableListSort,
#contentAvailableListSort {
	padding: 0 !important;
}

#displayListSort,
#contentDisplayListSort
 {
	border: 1px dotted red;
	min-height: 36px;
	margin-right: 0 !important;
}

#availableListSort li,
#displayListSort li,
#contentAvailableListSort li,
#contentDisplayListSort li  {
	font-size: 11px;
	width: 94%;
	margin: 0 0 3px 0;
	padding: 5px;
	cursor: move;
}

#configuratorContainer dt,
#configuratorContainer dd,
#tabDisplay dt,
#tabDisplay dd,
#tabAdvanced dt,
#tabAdvanced dd { 
	clear:both;
}

#feedCustomImageOptions dt {
	margin: .5em 0;
}
