#cdashboard {
	
	h3 {
		line-height: 1;
	}
	
	table {
		margin-bottom: 0;
	}
	
	#emailBroadcasts {
	
		dl {
			margin: 0 0 .5em 0;
		}
		
		dt, dd {
			display: inline-block;
			margin-right: .5em;
		}
		
		dd {
			margin: 0 1em 0 0;
			padding: 0;
		}
		
	}

	#contentSecondary {
		padding-top: 8px;

		p {
			line-height: 1.2;
			}
		
		/* Search */
		#siteSearch {
			
			float: none;
			
			.search-query {
				width: 136px;
				}
			
			input.btn {
				float: right;
				}
			}
		
		/* Site Summary & Drafts */
		
		dl {
			.dl-horizontal;
			margin-bottom: 0;
			.clearfix;
			}
			
		dt,dd {
			margin-bottom: .5em;
			line-height: 1.5 !important;
			float: left;
			display: block;
			font-size: 12px;
		}
		
		dt {
			text-align: left !important;
			font-weight: normal;
			}
		
		dd {
			margin-left: 3em !important;
			
		}
		
		ul {
			margin: 0;
		}
		
		li {
			list-style: none;
		}
		
		a {
			color: @orange;
		}
		
		.well li span {
			color: @gray;
		}
		
	}
	
}