select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  height: @baseLineHeight+10;
  font-size: @baseFontSize;
  padding: 5px;
  line-height: @baseLineHeight;
  color: @grayDark;
}

label.control-label {
	font-weight: bold;
}

.add-on {
	font-size: 15px;
}

#contentForm {
	clear: both;
}

#siteSearch {
	float: right;
	width: auto;
	margin: 0 0 2em;
	position: relative;
	right: 0;
	background: @grayLighter;
	padding: .75em .75em;
	.border-radius(5);
	
	input[type="text"],
	input[type="password"] {
		font-size: @baseFontSize - 2;
		line-height: @baseLineHeight - 2;
		height: @baseLineHeight+6;
		padding: 2px;
	}
	
	.btn {
		font-size: @baseFontSize - 2;
		font-weight: bold;
		line-height: @baseLineHeight - 4;
		height: @baseLineHeight + 6;
	}
}
