select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  height: @baseLineHeight;
  font-size: @baseFontSize;
  padding: 4px;
  line-height: @baseLineHeight;
  color: @grayDark;
}

select, input[type="file"] {
height: 28px;
line-height: 28px;
}

textarea {
	height: auto;
}

label.radio.inline input[type="radio"] {
	margin-top: 2px;
}

.form-actions {
	clear: both;
	margin: @baseLineHeight 0 0;
	background: @grayLighter;
	.border-radius(0 0 5px 5px);
	border-top-color: @white;
	border-top-width: 2px;
}

.ui-datepicker {

	select {
		margin-bottom: .75em !important;
		width: 158px;
		font-size: @qeFontSize;
		padding: 2px 2px;
		height: auto;
		line-height: 1;
		}
	
	.ui-datepicker-prev, .ui-datepicker-next {
		top: 3px;
		}
		
	table {
		border: 0;
	}
	
	th,td {
		border: 0;
		}

}

.ui-datepicker-month {
	margin-right: 4px !important;
}

label.control-label {
	font-weight: bold;
}

.add-on {
	font-size: 15px;
}

#contentForm {
	clear: both;
}

#siteSearch {
	float: right;
	width: auto;
	margin: 0 0 2em;
	position: relative;
	right: 0;
	background: @grayLighter;
	padding: .75em .75em;
	.border-radius(5);
	
	input[type="text"] {
		line-height: @baseLineHeight - 2;
		height: @baseLineHeight+6;
		padding: 2px;
	}
	
	i {
		font-size: 16px;
		top: 2px;
		}
	
	.btn {
		line-height: @baseLineHeight - 4;
		height: @baseLineHeight + 12;
		padding: 0 8px;
	}
}

.controls ul {
	margin: 0;
	list-style: none;
	
	select {
		font-size: @baseFontSize - 1;
		padding: 0;
		line-height: 1;
		height: 18px;
		width: auto;
	}
}

// Content Objects Tab
#editObjects {
	
	> div {
		.pull-left;
		margin-right: 10px;
		min-width: 300px;
	}
		
		.region {
			.clearfix;
			}
		
		dl {
			.pull-left;
			margin: 0 6px 10px 0;
			padding: 0 !important;
			
			dt {
				margin-bottom: .5em;
				font-weight: normal;
				font-style: italic;
			}
			
			dd {
				margin: 0;
				
				}
			}
		
		#availableRegions dl {
			margin-left: 6px;
		}
		
		.btn-group {
			.pull-left;
			height: 100px;
			padding-top: 50px;
			}

		.multiSelect {
			min-height: 100px;
			height: auto;
			width: 300px;
			margin: 0;
		}
	
	.btn {
		width: 6px;
		padding: 4px 10px;
		
		i {
			position: relative;
			top: 2px;
			font-size: 12px;
			text-shadow: 1px 0 0 @white;
		}
	}
} // /#editObjects

// Categorization Tab
