header {
	background: url("../images/bg_header_login.png") repeat-x scroll 0 0 transparent;
	height: 70px;
	}

.navbar-inner {
	.border-radius(0);
	.box-shadow(0 0 0);
	background: transparent;
	color: @gray;
	position: relative;
	
	.brand {
	    padding: 0;
		background: url("../images/mura_logo.png") no-repeat scroll 0 0 transparent;
	    color: #FEE100;
	    float: left;
	    height: 53px;
	    margin: 0 0 0 6px;
	    text-indent: -999em;
	    width: 135px;
	}
	
	.brand-credit {
	    height: 35px;
	    left: 82px;
	    position: absolute;
	    top: 0;
	    width: 75px;
	}
	
	.nav li a {
		font-size: 11px;
		color: @grayLighter;
	}
	
	
	
}