.icon-font(@font) {
	font-family: @font;
	font-weight: normal;
	font-style: normal;
	display: inline-block;
	text-decoration: inherit;
	}

.mura-grid, .mura-table-grid {

	
	i {
		font-size: 17px;
		width: auto !important;
		color: lighten(@grayDark,18%);
		
		&:hover { color: @grayDarker; }
		
		}
			
	.disabled i {
		color: @gray;
		}
	
	.actions {
		
		.edit { padding-right: 4px; }
		.versionHistory { padding-right: 6px; }
		
		}

	.add i {
		display: block;
		padding-right: 2px;
		font-size: 16px;
		line-height: 28px;
		}
	
	.template i {
		font-size: 24px;
	}
	

	/* .add:hover i { color: lighten(@grayDark,10%); } */
}