#carch h1 + .btn-group {
	clear: both;
}

#carch .tab-content {
	overflow: visible; 
}

#filter-view {
	margin: 0 0 @baseLineHeight 0;
}

#sm-modify-view .dropdown-menu, #filter-view .dropdown-menu {
	
	padding: 10px;
	
	form {
		margin-bottom: 0;
		
		label {
			display: block;
			margin-bottom: .25em;
			}
		}
	
	input.text { 
		margin: 0 0 0 2px;
		}
	
	select {
		margin-bottom: 0;
	}

}


#sitemgr-reorder {

	margin-top: 1em;
	
	.btn {
		margin-left: 1em;
	}
} 

.mura-grid {
			border: 1px solid #DBDBDB;
			border-top: 0;
			float: left;
			background: #f9f9f9;
			font-size: 12px;
			
			.ui-draggable-dragging {
				.box-shadow(0px 0px 8px #666);
				}
			
			/*Fix Firefox wrapping issue when zoomed in 1 level and dragging. Safari has a different issue when zoomed in and dragging where the row you're dragging gets positioned about 400 pixels below your cursor, not sure what the fix is. */
			/*@-moz-document url-prefix() {
				.mura-grid .ui-draggable-dragging {
				width: 81.5% !important;
				height: 28px !important;
				overflow: hidden;
				}
			}*/
			
			a {
				color: @grayDarker;
			}
			
			ol,ul {
				margin: 0;
				list-style: none;
			}
			
			li {
				clear: both;
				float: left;
				white-space: nowrap;
				margin: 0;
				padding: 0;
			}
			
			li:hover {
				cursor: move;
			}
			
			/* Use this to highlight node on hover */
			li dl:hover {
				/*outline: 1px solid red;*/
			}
			
			li:hover #top-node, .mura-grid.noDrag li:hover  {
				cursor: auto;
			}
			
			dl {
				background-color: @white;
				float: left;
				width: auto;
				margin: 0;
				min-height: 10px;
				line-height: 20px;
			}
			
			dl.alt {
				background-color: @tableBackgroundAccent;
			}
			
			dl.mura-grid-hdr {
				#gradient .vertical(#fffefe,#f5f5f5);
			}
			
			dt, dd  {
				color: #333232;
				border-right: 1px solid #DBDBDB;
				text-align: center;
				float: left;
				margin: 0 !important;
			}
			
			dt {
				width: 405px;
				text-align: left;
				line-height: 12px;
				min-height: 20px;
				padding: 0 5px 0 0 !important;
				font-weight: normal;
				position: relative;
			}
			
			dd {
				padding: 4px 5px;
				height: 20px;
				position: relative;
			}
			
			dt a {
				display: block;
				height: auto;
				min-height: 18px;
				line-height: 20px;
				white-space: wrap;
				padding: 4px 5px 4px 22px;
				float: left;
				color: @grayDarker;
				
			}
			
			dt a.title {
				overflow: hidden;
			}
			
			dt a.tooltip {
				padding: 0 10px 0 20px;
			}
			
			dt img {
				float: left;
				padding: 11px 5px 0 0;
				margin-left: -15px;
			}
			
			dt span.hasChildren-closed {
				float: left;
				display: block;
				width: 12px;
				height: 28px;
				padding: 0;
				margin-left: -11px;
				background: url(../images/icons/right_on.gif) no-repeat 3px 50%;
				cursor:pointer;
			}
			
			dt span.hasChildren, dt span.hasChildren-open {
				float: left;
				display: block;
				width: 12px;
				height: 28px;
				padding: 0;
				margin-left: -11px;
				background: url(../images/icons/down_on.gif) no-repeat left 50%;
				cursor:pointer;
			}
			
			.order {
				width: 40px;
			}
			
			.objects {
				width: 50px;
			}
			
			.display, .feature, .template {
				width: 60px;
			}
			
			.template img.icon {
				height: 30px;
				width: auto;
				position: relative;
				top: -5px;
			}
			
			td.scheduled a {
				position: relative;
				top: -2px;
				display: inline-block;
				.square(24px);
				background: url(../images/icons/cal.png) no-repeat 50% 50%;
			}
			
			td.scheduled a span {
				max-width: 110px;
				text-align: center;
			}
			
			.nav {
				width: 50px;
			}
			
			.updated {
				width: 150px;
			}
			
			/*.date {
				width: 90px;
			}
			
			.time {
				width: 60px;
			}*/
			
			.actions {
				width: 92px;
				border-right: 0;
			}
			
			.actions ul, td.actions ul {
				margin: 0 auto;
				.inline-block;
			}
			
			dt .add {
				width: 16px;
				margin: 0;
				margin-right: 7px;
				display: block;
				background: url(../images/icons/add_16x16.png) no-repeat center center;
				height: 20px;
				padding: 4px;
				border: 0;
				border-right: 1px solid #DBDBDB;
			}
			
			.mura-grid-hdr dt, .mura-grid-hdr dd {
				/*background: #FFFEFE url(../images/bg_th.jpg) repeat-x left bottom;*/
				font-style: normal;
				color: #000;
				border: 1px solid #DBDBDB;
				white-space: nowrap;
				text-align: center;
				padding: 0;
				padding-left: 5px;
				padding-right: 5px;
				height: 26px;
				line-height: 26px;
			}
				
			.mura-grid-hdr dt {
				text-align: left;
				border-left: 0;
				padding-left: 0 !important;
			}
			
			.mura-grid-hdr dd {
				border-left: 0;
			}
			
			.mura-grid-hdr dd.actions {
				border-right: 0;
			}
			
			.mura-grid-hdr .add, #mura-nodes span.add {
				display: block;
				float: left;
				height: 18px !important;
				background: none !important;
			}
			
			.mura-grid-hdr a.tooltip, .mura-grid-hdr span.add, #mura-nodes span.add {
				display: inline-block;
				line-height: 18px;
			}
			
			.mura-grid-hdr a {
				color: @grayDarker;
				font-weight: bold;
				.inline-block();
				line-height: 26px;
				padding: 0;
			}	
			
			.mura-grid-hdr dt a.tooltip {
				padding-left: 0;
			}
			
			dt .add li.Page {
				background: transparent url(../images/icons/files/icon_generic_small.gif) no-repeat;
				margin: 0;
				padding: 2px 0 2px 30px;
				background-position: 11px 1px;
			}
			
		}
		
		#mura-nodes {
		
			dt .mura-title-fade {	
			display: block;
			position: absolute;
			top: 0px;
			right: 0px;
			height: 28px;
			width: 50px;
			}
			
			ul, ol {
				margin: 0;
			}
		
			.scheduled a {
				.inline-block();
				.square(24px);
				position: relative;
				top: -2px;
				background: url(../images/icons/cal.png) no-repeat 50% 50%;
				padding: 0;
				opacity: 100; // Inherits 0 from .tooltip
				z-index: 1;
			}
			
			#selected.scheduled a {
				background: url(../images/icons/cal-on.png) no-repeat 50% 50%;
			}
			
			.scheduled a span {
			 	/* Why is does this throw an error in less? */
				/*.mura-grid td.scheduled a span;*/
				max-width: 110px;
				text-align: center;
			}
		
			li .add { margin-right: 16px; }
			li .title { max-width: 80%; }
			
			li li .add { margin-right: 32px; }
			li li .title { max-width: 76%; }
			
			li li li .add { margin-right: 53px; }
			li li li .title { max-width: 71%; }
			
			li li li li .add { margin-right: 73px; }
			li li li li .title { max-width: 66%; }
			
			li li li li li .add { margin-right: 93px; }
			li li li li li .title { max-width: 61%; }
			
			li li li li li li .add { margin-right: 113px; }
			li li li li li li .title { max-width: 56%; }
			
			li li li li li li li .add { margin-right: 133px; }
			li li li li li li li .title { max-width: 50%; }
			
			li li li li li li li li .add { margin-right: 153px; }
			li li li li li li li li .title { max-width: 45%; }
			
			li li li li li li li li li .add { margin-right: 173px; }
			li li li li li li li li li .title { max-width: 40%; }
			
			li li li li li li li li li li .add { margin-right: 193px; }
			li li li li li li li li li li .title { max-width: 35%; }
			
			li li li li li li li li li li li .add { margin-right: 213px; }
			li li li li li li li li li li li .title { max-width: 30%; }
			
			li li li li li li li li li li li li .add { margin-right: 233px; }
			li li li li li li li li li li li li .title { max-width: 25%; }
			
			li li li li li li li li li li li li li .add { margin-right: 253px; }
			li li li li li li li li li li li li li .title { max-width: 20%; }
		
		}	
		/* @end */
	
	
		
		/* @end */
		
	#tabFlat {
			
		.sidebar {
			float: right;
			width: 22%;
			/* margin-top: 42px; */
		}
		
		.mura-table-grid {
			float: left;
			width: 100%;
		}
		
		.navSort {
			margin-bottom: 1em;
			overflow: hidden;	
		}
		
		.navSort h2 {
			float: left;
			font-size: 12px;
			margin: 0 .5em 0 0;
			line-height: 34px;
			font-weight: normal;
		}
		
		.sidebar h2 {
			font-size: 13px;
			font-weight: bold;
		}
		
		
				
				
		.mura-table-grid {
			
			td {
				vertical-align: top;
				padding-top: 10px;
			}
			
			td.item {
				padding: 8px;
				text-align: left;
				white-space: wrap !important;
			}
			
			a {
				color: @grayDarker;
			}
		
		}
		
		/* Interactions */
		.mura-table-grid tr:hover {
		}
		
		/*
		.mura-table-grid tr:hover td {
			background-color: #fcf0f2;
			
		}*/
		
		td .locked-offline {
			padding: .35em .8em;
			margin:  .25em 0 0;
			background: #FBC2C4;
			font-size: 11px;
			display: inline-block;
		}
		
		.item h2 {
			margin-bottom: .35em;
			/*background-repeat: no-repeat;
			padding-left: 20px;*/
			letter-spacing: -.06em;
			font-weight: bold;
			line-height: 16px;
			font-size: 14px;
			width: 80%;
		}
		
		ul.nodeMeta {
			margin: 0;
			position: relative;
			list-style: none;
		}
		
		ul.nodeMeta li {
			float: left;
			padding: 0;
			margin: 0 .5em .35em 0;
			font-size: 11px;
		}
		
		ul.nodeMeta li:after {
			content: "/";
			margin-left: .5em;
		}
		
		ul.nodeMeta li:last-child:after {
			content: "";
		}
		
		ul.nodeMeta .navZoom li {
			padding-left: 18px;
			margin-right: .25em;
		}
		
		/*.item .nodeMeta .updated {
			float: none;
		}*/
		
		.thumbnail {
			float: left;
			margin: .35em .75em .5em 0;
			padding: 0;
			border: 0;
		}
		
		.item .nodeMeta .categories {
			max-width: 77%;
		}
		
		.item .nodeMeta .type {
			clear: right !important;
			/*float: none;*/
		}
		
		.thumbnail img {
			width: 80px;
			height: auto;
			margin: 0;
			padding: 0;
			display: block;
			/*background: #ccc;
			padding: .4em;*/
			/* border: 3px solid #ccc; */
		}
		
		table .item {
			
			h2 a {
				font-weight: bold;
				}
			
			a {
				color: @grayDarker;
				}
			
			.navZoom {
			margin: .75em 0 .75em !important;
			/*clear: both !important;*/
			display: block;
			overflow: hidden;
			float: none !important;
			border: 0 !important;
			background: none !important;
			}
		}
		
		.actions {
			position: relative;
		}
		
		.actions ul {
			padding: .35em .75em;
			/*float: right;*/
			position:  absolute;
			top: 0;
			right: 0;
			background: #ddd;
			border-radius: 12px;
			-webkit-border-radius: 12px;
			-moz-border-radius: 12px;
			display: none;
		}
		
		tr:hover .actions ul {
			display: block;
			/*background: #fff;*/
		}
	} /* End #tabFlat */ 
		
		#mura-filter-category {
			overflow-x: auto;
			ul { overflow: visible; list-style: none; }
			> ul { margin: 0; overflow: hidden; }
			li { 
				
				min-width: 160px;
				.text-overflow;
				line-height: 1;
				
				span {
					.inline-block();
					width: 15px;
				}
				
			}
			
			input[type="checkbox"] { margin-top: -2px; }
		}
		
		.module, .well {
			
			ul.nav { margin: 0; padding: 0; 
				
				li {
					
					> a {
						margin: 0 -9px;
					}
				}
				
			}
			
			select { width: 100%; }
			input.text { width: 95%; }
			
			}
		
		/* @end */
		
		/* @group File Icons */
		
		.btn-alt {
			background-color: #eee;
			padding: .25em 1em;
			border-radius: 16px;
			-webkit-border-radius: 16px;
			-moz-border-radius: 16px;
			display: inline-block;
		}
		
		.mura-grid li dt a {
			background: url(../images/icons/files/icon_generic_small.gif) 1px center no-repeat;
			text-decoration: none;
			margin: 0;
		}
		
		.mura-file {
			background-repeat: no-repeat;
			padding: 4px 0 4px 20px;
			background-position:left center;
			margin: 0 1em 1em 0;
			display: block;
			float: left;
			clear: left;
		}
		
		#mura-file-offline-edit {
			background: #eee url(../images/icons/download_24.png) 7px center no-repeat;
			padding-left: 24px;
			margin-right: 1em;
			display: block;
			float: left;
		}
		
		#msg-file-locked {
			margin-bottom: .5em !important;
			/*padding: .35em .35em .35em 26px !important;
			background-image: url(../images/icons/sinfo_24.png);
			background-position: 7px center;
			background-repeat: no-repeat;*/
			padding: .35em .75em !important;
		}
		
		#msg-file-locked.error {
		
		}
		
		#msg-file-locked.error a {
			padding-left: 24px;
			text-decoration: underline;
			background-image: url(../images/icons/mail_24.png);
			background-position: 7px center;
			background-repeat: no-repeat;
		}
		
		#mura-file-unlock {
			text-decoration: none;
			background: #eee url(../images/icons/ulock_24.png) 9px center no-repeat;
			padding-left: 26px;
			display: block;
			float: left;
		}
		
		#content #mura-revision-type {
			margin: 0;
			line-height: 2.2 !important;
			display: inline-block;
		}
		
		/* @group Default */
		
		.doc, .docx, .docm, .dotx, .dotm {
			background-image: url(../images/icons/files/icon_doc_small.gif) !important;
		}
		
		.jpg  {
			background-image: url(../images/icons/files/icon_jpg_small.gif) !important;
		}
		
		.psd {
			background-image: url(../images/icons/files/icon_gif_small.gif) !important;
		}
		
		.gif {
			background-image: url(../images/icons/files/icon_gif_small.gif) !important;
		}
		
		 .png {
			background-image: url(../images/icons/files/icon_png_small.gif) !important;
		}
		
		.pdf {
			background-image: url(../images/icons/files/icon_pdf_small.gif) !important;
		}
		
		.txt {
			background-image: url(../images/icons/files/icon_txt_small.gif) !important;
		}
		
		 .ppt, .pptx, .pptm, .potx, .potm, .ppam, .ppsx, .ppsm, .sldx, .sldm, .thmx {
			background-image: url(../images/icons/files/icon_ppt_small.gif) !important;
		}
		
		.xls, .xlsx, .xlsm, .xltx, .xltm, .xlsb, .xlam {
			background-image: url(../images/icons/files/icon_xls_small.gif) !important;
		}
		
		.mdb {
			background-image: url(../images/icons/files/icon_mdb_small.gif) !important;
		}
		
		.vsd {
			background-image: url(../images/icons/files/icon_vsd_small.gif) !important;
		}
		
		.mpp {
			background-image: url(../images/icons/files/icon_mpp_small.gif) !important;
		}
		
		.graffle {
			background-image: url(../images/icons/files/icon_graffle_small.gif) !important;
		}
		
		.oo3 {
			background-image: url(../images/icons/files/icon_oo3_small.gif) !important;
		}
		
		.mp3 {
			background-image: url(../images/icons/files/icon_mp3_small.gif) !important;
		}
		
		.ndd {
			background-image: url(../images/icons/files/icon_ndd_small.gif) !important;
		}
		
		.zip {
			background-image: url(../images/icons/files/icon_zip_small.gif) !important;
		}
		
		.css {
			background-image: url(../images/icons/files/icon_css_small.gif) !important;
		}
		
		.flv {
			background-image: url(../images/icons/files/icon_flv_small.png) !important;
		}
		
		.html, .htm {
			background-image: url(../images/icons/files/icon_generic_small.gif) !important;
		}
		
		/* @end */
		
		/* @group Locked */
		
		.docLocked, .docxLocked, .docmLocked, .dotxLocked, .dotmLocked {
			background-image: url(../images/icons/files/icon_doc_small_locked.gif) !important;
		}
		
		.jpgLocked {
			background-image: url(../images/icons/files/icon_jpg_small_locked.gif) !important;
		}
		
		.psdLocked {
			background-image: url(../images/icons/files/icon_gif_small_locked.gif) !important;
		}
		
		.gifLocked {
			background-image: url(../images/icons/files/icon_gif_small_locked.gif) !important;
		}
		
		.pngLocked {
			background-image: url(../images/icons/files/icon_png_small_locked.gif) !important;
		}
		
		.pdfLocked {
			background-image: url(../images/icons/files/icon_pdf_small_locked.gif) !important;
		}
		
		.txtLocked {
			background-image: url(../images/icons/files/icon_txt_small_locked.gif) !important;
		}
		
		.pptLocked, .pptxLocked, .pptmLocked, .potxLocked, .potmLocked, .ppamLocked, .ppsxLocked, .ppsmLocked, .sldxLocked, .sldmLocked, .thmxLocked {
			background-image: url(../images/icons/files/icon_ppt_small_locked.gif) !important;
		}
		
		.xlsLocked, .xlsxLocked, .xlsmLocked, .xltxLocked, .xltmLocked, .xlsbLocked, .xlamLocked {
			background-image: url(../images/icons/files/icon_xls_small_locked.gif) !important;
		}
		
		.mdbLocked {
			background-image: url(../images/icons/files/icon_mdb_small_locked.gif) !important;
		}
		
		.vsdLocked {
			background-image: url(../images/icons/files/icon_vsd_small_locked.gif) !important;
		}
		
		.mppLocked {
			background-image: url(../images/icons/files/icon_mpp_small_locked.gif) !important;
		}
		
		.graffleLocked {
			background-image: url(../images/icons/files/icon_graffle_small_locked.gif) !important;
		}
		
		.oo3Locked {
			background-image: url(../images/icons/files/icon_oo3_small_locked.gif) !important;
		}
		
		.mp3Locked {
			background-image: url(../images/icons/files/icon_mp3_small_locked.gif) !important;
		}
		
		.nddLocked {
			background-image: url(../images/icons/files/icon_ndd_small_locked.gif) !important;
		}
		
		.zipLocked {
			background-image: url(../images/icons/files/icon_zip_small_locked.gif) !important;
		}
		
		.cssLocked {
			background-image: url(../images/icons/files/icon_flv_small_locked.gif) !important;
		}
		
		.flvLocked {
			background-image: url(../images/icons/files/icon_flv_small_locked.png) !important;
		}
		
		.htmlLocked, .htmLocked, .cfmLocked, .cfcLocked, .csvLocked, .phpLocked, .rbLocked, .pyLocked, .javaLocked, .jspLocked  {
			background-image: url(../images/icons/files/icon_generic_small_locked.gif) !important;
		}
		
		/* @end */
		
		/* @end */
		
		/* @group Content Icons */
		
		.mura-grid li a.Link,
		.navZoom li.Link  {
			background: url(../images/icons/link.png) no-repeat 2px .7em;
		}
		
		.mura-grid li a.Portal,
		.navZoom li.Portal {
			background: url(../images/icons/portal.png) no-repeat 0 .6em;
		}
		
		.mura-grid li a.Gallery,
		.navZoom li.Gallery {
			background: url(../images/icons/smicn_32.png) no-repeat 3px .7em;
		}
		
		.mura-grid li a.Image,
		.navZoom li.Image {
			background: url(../images/icons/image_32.png) no-repeat 0 .6em;
		}
		
		.mura-grid li a.GalleryLocked,
		.navZoom li.GalleryLocked {
			background: url(../images/icons/smicn_32_locked.png) no-repeat 1px .7em;
		}
		
		.mura-grid li a.ImageLocked,
		.navZoom li.ImageLocked {
			background: url(../images/icons/image_32_locked.png) no-repeat 0 .1em;
		}
		
		.mura-grid li a.Calendar,
		.navZoom li.Calendar {
			background: url(../images/icons/calendar.gif) no-repeat 2px .6em;
		}
		
		.mura-link-search-result .navZoom li.Calendar {
			background: url(../images/icons/calendar.gif) no-repeat 2px center;
		}
		
		.navZoom li.Calendar {
			background: url(../images/icons/calendar.gif) no-repeat 2px .1em;
		}
		
		.mura-grid li a.PageLocked,
		.navZoom li.PageLocked {
			background: url(../images/icons/files/icon_generic_small_locked.gif) no-repeat 1px .6em;
		}
		
		.mura-grid li a.DocumentLocked,
		.mura-grid li a.FileLocked,
		.navZoom li.DocumentLocked,
		.navZoom li.FileLocked {
			background: url(../images/icons/document_locked.png) no-repeat 1px .1em;
		}
		
		.mura-grid li a.LinkLocked,
		.navZoom li.LinkLocked {
			background: url(../images/icons/link_locked.png) no-repeat 1px .7em;
		}
		
		.mura-grid li a.PortalLocked,
		.navZoom li.PortalLocked {
			background: url(../images/icons/portal_locked.png) no-repeat 0 .6em;
		}
		
		.mura-grid li a.CalendarLocked,
		.navZoom li.CalendarLocked {
			background: url(../images/icons/calendar_locked.gif) no-repeat 1px .6em;
		}
		
		.navZoom li,
		.navZoom li.Link,
		.navZoom li.Gallery,
		.navZoom li.Image,
		.navZoom li.Page,
		.navZoom li.gif,
		.navZoom li.jpg,
		.navZoom li.psd,
		.navZoom li.pdf,
		.navZoom li.ppt,
		.navZoom li.doc,
		.navZoom li.png,
		.navZoom li.txt,
		.navZoom li.xls,
		.navZoom li.mdb,
		.navZoom li.vsd,
		.navZoom li.mpp,
		.navZoom li.graffle,
		.navZoom li.mp3,
		.navZoom li.ndd,
		.navZoom li.zip,
		.navZoom li.css,
		.navZoom li.html,
		.navZoom li.htm,
		.navZoom li.LinkLocked,
		.navZoom li.GalleryLocked,
		.navZoom li.ImageLocked,
		.navZoom li.PageLocked,
		.navZoom li.gifLocked,
		.navZoom li.jpgLocked,
		.navZoom li.psdLocked,
		.navZoom li.pdfLocked,
		.navZoom li.pptLocked,
		.navZoom li.docLocked,
		.navZoom li.pngLocked,
		.navZoom li.txtLocked,
		.navZoom li.xlsLocked,
		.navZoom li.mdbLocked,
		.navZoom li.vsdLocked,
		.navZoom li.mppLocked,
		.navZoom li.graffleLocked,
		.navZoom li.mp3Locked,
		.navZoom li.nddLocked,
		.navZoom li.zipLocked,
		.navZoom li.cssLocked,
		.navZoom li.htmlLocked,
		.navZoom li.htmLocked   {
			background-position: left center;
			margin: 0;
			padding: 2px 0 2px 18px !important;
		}
		
		.navZoom li.Portal, .navZoom li.PortalLocked, .navZoom li.Calendar, .navZoom li.CalendarLocked {
			background-position: left center;
			
			margin: 0;
			padding: 2px 0 2px 20px !important;
		}
		
		
		table td li.Category {
			margin: 0;
			padding: 2px 0;
		}
		
		table td li.CategoryLocked {
			margin: 0;
			padding: 2px 0;
		}
		
		/*table td.order img {
			margin: 0 1px 0 1px
		}*/
		
		table td.title img {
			margin-right: 3px;
		}
		
		/* @end */
		
		
		/* @group Action Icons */
		.actions ul, .actions ul {
			margin: 0 auto;
		}
		
		ul.one, ul.drafts, ul.creatives, ul.advertisers, ul.mailingListMembers { /* 1 Icon */
			width: 14px;
		}
		
		ul.two, ul.campaigns, ul.adZones, ul.emails, ul.users, ul.currentSites, ul.versionHistory, ul.group { /* 2 Icons */
			width: 38px;
		}
		
		ul.three, ul.rss, ul.mailingLists { /* 3 Icons */
			width: 57px;
		}
		
		ul.four, ul.component { /* 4 Icons */
			width: 72px !important;
		}
		
		ul.five, ul.form { /* 5 Icons -- need .actions ul? */
			width: 95px;
		}
		
		ul.six { /* 6 Icons */
			width: 110px;
		}
		
		ul.seven { /* 7 Icons */
			width: 133px;
		}
		
		.mura-grid .actions li,
		.mura-table-grid .actions li,
		td.actions li {
			list-style: none; 
			float: left !important;
			width: 14px;
			margin: 0 5px 0 0;
			padding: 0;
			clear: none;
			background-position: 50% 50% !important;
			background-repeat: no-repeat;
			border: 0;
		}
		
		.mura-grid .actions a,
		.mura-table-grid .actions li a,
		td.actions li a {
			height: 18px;
			width: 14px;
			float: left;
			clear: none;
			text-indent: -999em;
		
		}
		
		.actions .add, .mura-grid .actions .select, table td.actions li.add, table td.actions .select {
			background: url(../images/icons/add_16x16.png) no-repeat;
		}
		
		.actions li.preview, table td.actions li.preview {
			background: url(../images/icons/opnbr_24.png) no-repeat;
		}
		
		.actions li.edit, table td.actions li.edit {
			background: url(../images/icons/edit_24.png) no-repeat;
		}
		
		.actions li.config, table td.actions li.config {
			background: url(../images/icons/apps_24.png) no-repeat;
		}
		
		.actions li.versionHistory, table td.actions li.versionHistory {
			background: url(../images/icons/hist_24.png) no-repeat;
		}
		
		.actions li.changeSets, table td.actions li.changeSets {
			background: url(../images/icons/change_set_24.png) no-repeat;
		}
		
		
		.actions li.permissions, table td.actions li.permissions {
			background: url(../images/icons/group_24.png) no-repeat;
		}
		
		.actions li.delete, table td.actions li.delete {
			background: url(../images/icons/remov_24.png) no-repeat;
			margin-right: 0;
		}
		
		.actions li.viewDetails, table td.actions li.viewDetails {
			background: url(../images/icons/srch_24.png) no-repeat;
		}
		
		.actions li.rss, table td.actions li.rss {
			background: url(../images/icons/rss_14.png) no-repeat;
		}
		
		.actions li.viewReport, table td.actions li.viewReport {
			background: url(../images/icons/chart_24.png) no-repeat;
		}
		
		.actions li.download, table td.actions li.download {
			background: url(../images/icons/download_24.png) no-repeat;
		}
		
		.actions li.import, table td.actions li.import {
			background: url(../images/icons/download_24.png) no-repeat;
		}
		
		.actions li.manageData, table td.actions li.manageData {
			background: url(../images/icons/confg_24.png) no-repeat;
		}
		
		.actions li.deploy, table td.actions li.deploy {
			background: url(../images/icons/go_24.png) no-repeat;
		}
		
		li.actions li.moveCopy, table td.actions li.moveCopy {
			background: url(../images/icons/move_24.png) no-repeat;
		}
		
		li.actions li.source, table td.actions li.source {
			background: url(../images/icons/notep_24.png) no-repeat;
		}
		
		.actions li.rename, table td.actions li.rename {
			background: url(../images/icons/wiz_24.png) no-repeat;
		}
		
		.actions li.viewUnzip, table td.actions li.viewUnzip {
			background: url(../images/icons/open_24.png) no-repeat;
		}
		
		.actions li.manipulate, table td.actions li.manipulate {
			background: url(../images/icons/confg_24.png) no-repeat;
		}
		
		.actions li.addOff, table td.actions li.addOff {
			background: url(../images/icons/add_24_off.png) no-repeat;
			text-indent: -999em;
		}
		
		.actions li.editOff, table td.actions li.editOff {
			background: url(../images/icons/edit_24_off.png) no-repeat;
			text-indent: -999em;
		}
		
		.actions li.versionHistoryOff, table td.actions li.versionHistoryOff {
			background: url(../images/icons/hist_24_off.png) no-repeat;
			text-indent: -999em;
		}
		
		.actions li.permissionsOff, table td.actions li.permissionsOff {
			background: url(../images/icons/group_24_off.png) no-repeat;
			text-indent: -999em;
		}
		
		.actions li.deleteOff, table td.actions li.deleteOff {
			background: url(../images/icons/remov_24_off.png) no-repeat;
			text-indent: -999em;
			margin-right: 0;
		}
		
		.actions li.moveCopyOff, table td.actions li.moveCopyOff {
			background: url(../images/icons/move_24_off.png) no-repeat;
			text-indent: -999em;
		}
		
		.actions li.sourceOff, table td.actions li.sourceOff {
			background: url(../images/icons/notep_24_off.png) no-repeat;
			text-indent: -999em;
		}
		
		.actions li.renameOff, table td.actions li.renameOff {
			background: url(../images/icons/wiz_24_off.png) no-repeat;
			text-indent: -999em;
		}
		
		.actions li.viewUnzipOff, table td.actions li.viewUnzipOff {
			background: url(../images/icons/open_24_off.png) no-repeat;
			text-indent: -999em;
		}
		
		.actions li.manipulateOff {
			background: url(../images/icons/confg_24_off.png) no-repeat;
			text-indent: -999em;
		}
		
		.actions li.manageDataOff {
			background: url(../images/icons/confg_24_off.png) no-repeat;
			text-indent: -999em;
		}
		
		.actions img.solo {
			margin: 0 6px;
		}
		
		#manageData table {
			width: 1%;
		}
		
		#manageData th, #manageData td {
			text-align: left;
		}
		
		#manageData td {
			white-space: normal;
			vertical-align: middle !important;
		}
		
		#manageData td.mForm-data p {
			margin: 0;
		}
		
		.admin, #manageData .dateSubmitted {
			white-space: nowrap;
		}
		
		/*
			.actions { // Not sure what this is targeting
			float: right;
			margin-left: 2em;
			position: relative;
			}
		*/
		
		/* @end */
		
		/* @group Nested Heiarchical Lists */
		
		ul.neston {
			list-style: none;
			margin: 0 5px 0 0;
			padding: 0;
			background: url(../images/icons/down_on.gif) no-repeat 0 6px;
		}
		
		ul.nestoff {
			list-style: none;
			margin: 0 5px 0 0;
			padding: 0;
		}
		
		ul.nest1on {
			list-style: none;
			background: url(../images/icons/down_on.gif) no-repeat 0 6px;
			margin: 0 5px 0 16px;
			padding: 0;
		}
		
		ul.nest1off {
			list-style: none;
			margin: 0 5px 0 16px;
			padding: 0;
		}
		
		ul.nest2on {
			list-style: none;
			background: url(../images/icons/down_on.gif) no-repeat 0 6px;
			margin: 0 5px 0 32px;
			padding: 0;
		}
		
		ul.nest2off {
			list-style: none;
			margin: 0 5px 0 32px;
			padding: 0;
		}
		
		ul.nest3on {
			list-style: none;
			background: url(../images/icons/down_on.gif) no-repeat 0 6px;
			margin: 0 5px 0 48px;
			padding: 0;
		}
		
		ul.nest3off {
			list-style: none;
			margin: 0 5px 0 48px;
			padding: 0;
		}
		
		ul.nest4on {
			list-style: none;
			background: url(../images/icons/down_on.gif) no-repeat 0 6px;
			margin: 0 5px 0 64px;
			padding: 0;
		}
		
		ul.nest4off {
			list-style: none;
			margin: 0 5px 0 64px;
			padding: 0;
		}
		
		ul.nest5on {
			list-style: none;
			background: url(../images/icons/down_on.gif) no-repeat 0 6px;
			margin: 0 5px 0 80px;
			padding: 0;
		}
		
		ul.nest5off {
			list-style: none;
			margin: 0 5px 0 80px;
			padding: 0;
		}
		
		ul.nest6on {
			list-style: none;
			background: url(../images/icons/down_on.gif) no-repeat 0 6px;
			margin: 0 5px 0 96px;
			padding: 0;
		}
		
		ul.nest6off {
			list-style: none;
			margin: 0 5px 0 96px;
			padding: 0;
		}
		
		ul.nest7on {
			list-style: none;
			background: url(../images/icons/down_on.gif) no-repeat 0 6px;
			margin: 0 5px 0 112px;
			padding: 0;
		}
		
		ul.nest7off {
			list-style: none;
			margin: 0 5px 0 112px;
			padding: 0;
		}
		
		ul.nest8on {
			list-style: none;
			background: url(../images/icons/down_on.gif) no-repeat 0 6px;
			margin: 0 5px 0 128px;
			padding: 0;
		}
		
		ul.nest8off {
			list-style: none;
			margin: 0 5px 0 128px;
			padding: 0;
		}
		
		ul.nest9on {
			list-style: none;
			background: url(../images/icons/down_on.gif) no-repeat 0 6px;
			margin: 0 5px 0 128px;
			padding: 0;
		}
		
		ul.nest9off {
			list-style: none;
			margin: 0 5px 0 128px;
			padding: 0;
		}
		
		ul.nest10on {
			list-style: none;
			background: url(../images/icons/down_on.gif) no-repeat 0 6px;
			margin: 0 5px 0 144px;
			padding: 0;
		}
		
		ul.nest10off {
			list-style: none;
			margin: 0 5px 0 144px;
			padding: 0;
		}
		
		/* @end */
		
		/* @group Nested Heiarchical Lists - Categories */
		
		#ccategory {
		
		ul.neston {
			list-style: none;
			margin: 0 5px 0 0;
			padding: 0;
			background-image: none;
			/* font-weight: bold; */
		}
		
		ul.nestoff {
			list-style: none;
			margin: 0 5px 0 0;
			padding: 0;
			/* font-weight: bold; */
		}
		
		ul.nest1on {
			list-style: none;
			background-image: none;
			margin: 0 5px 0 16px;
			padding: 0;
		}
		
		ul.nest1off {
			list-style: none;
			margin: 0 5px 0 16px;
			padding: 0;
		}
		
		ul.nest2on {
			list-style: none;
			background-image: none;
			margin: 0 5px 0 32px;
			padding: 0;
		}
		
		ul.nest2off {
			list-style: none;
			margin: 0 5px 0 32px;
			padding: 0;
		}
		
		ul.nest3on {
			list-style: none;
			background-image: none;
			margin: 0 5px 0 48px;
			padding: 0;
		}
		
		ul.nest3off {
			list-style: none;
			margin: 0 5px 0 48px;
			padding: 0;
		}
		
		ul.nest4on {
			list-style: none;
			background-image: none;
			margin: 0 5px 0 64px;
			padding: 0;
		}
		
		ul.nest4off {
			list-style: none;
			margin: 0 5px 0 64px;
			padding: 0;
		}
		
		ul.nest5on {
			list-style: none;
			background-image: none;
			margin: 0 5px 0 80px;
			padding: 0;
		}
		
		ul.nest5off {
			list-style: none;
			margin: 0 5px 0 80px;
			padding: 0;
		}
		
		ul.nest6on {
			list-style: none;
			background-image: none;
			margin: 0 5px 0 96px;
			padding: 0;
		}
		
		ul.nest6off {
			list-style: none;
			margin: 0 5px 0 96px;
			padding: 0;
		}
		
		ul.nest7on {
			list-style: none;
			background-image: none;
			margin: 0 5px 0 112px;
			padding: 0;
		}
		
		ul.nest7off {
			list-style: none;
			margin: 0 5px 0 112px;
			padding: 0;
		}
		
		ul.nest8on {
			list-style: none;
			background-image: none;
			margin: 0 5px 0 128px;
			padding: 0;
		}
		
		ul.nest8off {
			list-style: none;
			margin: 0 5px 0 128px;
			padding: 0;
		}
		
		ul.nest9on {
			list-style: none;
			background-image: none;
			margin: 0 5px 0 128px;
			padding: 0;
		}
		
		ul.nest9off {
			list-style: none;
			margin: 0 5px 0 128px;
			padding: 0;
		}
		
		ul.nest10on {
			list-style: none;
			background-image: none;
			margin: 0 5px 0 144px;
			padding: 0;
		}
		
		ul.nest10off {
			list-style: none;
			margin: 0 5px 0 144px;
			padding: 0;
		}
}	
		/* @end */
		
		/* @group Site Map */
		
		#cHelp #content ul {
			list-style: none;
			margin: 0 0 20px 0;
			padding: 0;
		}
		
		#cHelp #content ul a {
			color: #333232;
			text-decoration: none;
		}
		
		#cHelp #content ul a:hover {
			color: #333232;
			text-decoration: underline;
		}
		
		#cHelp #content ul p {
			color: #333232;
			font-weight: normal;
			margin: 0 0 10px 0;
		}
		
		#cHelp #content ul li {
			font-weight: bold;
			margin: 0;
		}
		
		#cHelp #content ul ul li {
			font-weight: normal;
			margin: 0;
		}
		
		#cHelp #content ul ul ul li {
			margin: 0 0 0 10px;
		}
		
		#cHelp #content ul ul ul ul li {
			margin: 0 0 0 20px;
		}
		
		/* @end */
		
		table .navZoom {
			margin: 0 !important;
			padding: .2em !important;
			list-style: none;
			background-image: none !important;
			position: relative;
			display: inline-block;
			clear: none;
			border: 0;
		}
		
		/* @end */
		
		
		/* @group Quick Edit */
		
		.mura-quickEditItem {
			display: inline-block;
			width: 100%;
			cursor: pointer;
		}
		
		#selected .mura-quickEditItem {
			font-weight: bold;
		}
		
		.mura-quickEdit {
			background-color: #272727;
			opacity: .95;
			position: absolute;
			bottom: 34px;
			left: 50%;
			margin-left: -92px;
			width: 160px;
			min-height: 70px;
			z-index: 10;
			display: block;
			border-radius: 5px;
			padding: 8px 10px;
			box-shadow: 0 2px 4px #333232;
			white-space: normal;
			font-size: @qeFontSize;
			text-align: left;
			
			h1 {
			color: #fff;
			font-size: 11px !important;
			text-align: left;
			margin: 0 0 .75em 0;
			font-weight: normal;
			padding-right: 20px;
			line-height: 1;
				}
		
			.cancel {
				position: absolute;
				top: 4px;
				right: 4px;
				width: 14px;
				height: 14px;
				display: block;
				text-indent: -9999px;
				background: url('../images/btn_close_quick-edit.png') no-repeat right top;
				cursor: pointer;
				}
		
			img.loader {
				position: absolute;
				left: 50%;
				top: 50%;
				margin-left: -16px;
				margin-top: -16px;
				width: 24px !important;
				height: 24px !important;
				}
			
			input.datepicker {
				width: 151px;
				}
			
			select {
				margin-bottom: .75em;
				width: 158px;
				font-size: @qeFontSize;
				padding: 2px 2px;
				height: auto;
				line-height: 1;
				}
			
			.buttons {
				text-align: center;
				margin-top: .25em
				}			
				
			.btn {
				cursor: pointer;
				margin: 0 auto;
				padding: 1px 6px;
				font-size: @qeFontSize;
				}
				
			li {
				text-align: left;
				margin: 0;
				padding: 0;
				}
			
			li label {
				width: 160px;
				display: block;
				color: #fff;
				font-size: @qeFontSize;
				clear: right;
				text-align: left;
				}
			
			li select {
				width: 50px;
				float: none;
				}
			
			li input.datepicker {
				width: 156px;
				font-size: @qeFontSize;
				color: #333232;
				margin: 0 2px .75em 0;
				padding: 2px;
				height: 20px;
				}
			
			li img {
				padding: 0;
				}

			
		}

		
		.template .mura-quickEdit {
			bottom: 36px;
		}
		
		.mura-quickEdit:after {
			content: ' ';
			position: absolute;
			z-index: 11;
			width: 24px;
			height: 14px;
			left: 80px;
			bottom: -14px;
			background: url('../images/quickedit-bottom.png') no-repeat center bottom;
			opacity: .95;
		}
		
		.mura-quickEdit:hover {
			cursor: default;
		}
				
		.hasDraft .mura-quickEdit {
			background: #ccc;
			text-align: left;
			box-shadow: 0 2px 4px #666;
			width: 180px;
		}
		
		.hasDraft .mura-quickEdit:after {
			bottom: -14px;
			background: url('../images/quickedit-bottom-hasdraft.png') no-repeat center bottom;
		}
		
		.hasDraft .mura-quickEdit h1 {
			color: #333232;
			font-weight: bold;
			background: url('../images/icons/unsubscribe_24x24.png') no-repeat left top;
			height: 24px;
			line-height: 26px;
			padding-left: 28px;
		}
		
		.hasDraft .mura-quickEdit p {
			font-size: @qeFontSize !important;
		}
		
		.hasDraft .mura-quickEdit a.mura-quickEditItem {
			border-bottom: 0;
		}
		
		/* @end */
		
		/* @group Add Content Nav/Menu */
		
		div.menu {
			position: absolute;
			background-color: #F2F2F2;
			layer-background-color: #CCCCCC;
			border: 0;
			z-index: 20;
			padding: 6px;
		}
		
.addNew {
	width: 140px;
	position: absolute;
	z-index: 20;
	padding: 4px 8px;
	background: #999;
	.border-radius(5px);
	.box-shadow(1px 1px 4px #666);

		ul {
			margin: 0;
		}
		
		li {
			list-style: none;
			margin: 0;
			padding: 0;
			position: relative;
			overflow: hidden;
			border-bottom: 1px dotted #D4D4D4;
		}
		
		ul li:last-child, #newGallery, #newCopy {
			border-bottom: 0 !important;
		}
		
		a {
			display: block;
			text-decoration: none;
			margin: 0;
			padding: 6px 0 6px 16px;
			color: #000;
			background-position: left center !important;
			background-repeat: no-repeat;
		}
		
		#newZoom { border-bottom: 1px dotted #D4D4D4; }
		
		#newZoom a { background-image: url(../images/icons/zoomi_24.png); }
		
		#newCopy a {
			background-image: url(../images/icons/copy_24.png);
			float: left;
		}
		
		#newCopy span {
			float: left;
			padding: 5px 4px 0;
			color: #444;
		}
		
		#newCopyLink {
			width: 2.7em;
		}
		
		#newCopyAllLink {
			margin-left: 4px;
		}
		
		#newPaste a { background-image: url(../images/icons/paste_24.png); }		
		#newContent a { background-image: url(../images/icons/docs_24.png); }		
		#newPage a { background-image: url(../images/icons/docs_24.png); }		
		#newLink a { background-image: url(../images/icons/web_24.png); }		
		#newFile a { background-image: url(../images/icons/cms_file.png); }		
		#newPortal a { background-image: url(../images/icons/foldr_24.png); }		
		#newCalendar a { background-image: url(../images/icons/cal_24.png); }
		
		#newGallery a {
			background-image: url(../images/icons/smicn_24.png);
			border: 0;
		}
		
		#newGalleryItem a { background-image: url(../images/icons/image_24.png); }
		
		#newGalleryItemMulti a {
			background-image: url(../images/icons/image_24.png);
			border: 0;
		}
		
		a:hover {
			color: #fff;
			text-decoration: none;
		}
}
		
.mura-table-grid {
	margin: 0 0 16px 0;
	border-collapse: collapse;
	border: 1px solid #DBDBDB;
	clear: both;
	width: 100%;
}

h3 + table {
	margin-top: 1em;
}

#content #emailBroadcasts table {
	width: 580px;
	clear: both;
}

#siteSearch table#metadata { /*For FCKEditor PopUps*/
	width: auto;
}

#userActivity table {
	width: 49%;
	float: right;
	clear: none;
}

#userActivity #recentActivity {
	float: left;
}

#popularContent table {
	width: 49%;
	float: right;
	clear: none;
}

#popularContent #topPages{
	float: left;
}


#popUp table {
	width: 100%;
}

#ctrash table {
	width: 920px;
}

table + .divide {
	margin-top: 8px;
}

#cdashboard table + .divide {
	margin-top: 0;
}

/*
th {
	margin: 0 !important;
	background: #FFFEFE url(../images/bg_th.jpg) repeat-x left bottom;
	font-style: normal;
	color: #000;
	padding: 4px 5px;
	border: 1px solid #DBDBDB;
	white-space: nowrap;
	text-align: center;
}
*/

.mura-table-grid th.alt {
	text-align: left;
	background-image: none;
	background-color: #f9f9f9;
	font-weight: normal;
	border: 0;
}

#cdashboard table th, #cdashboard table td {
	text-align: left;
}

.mura-table-grid th span {
	font-weight: normal;
}

#cdashboard #recentcontent li {
	margin: 0 0 .5em;
	line-height: 1.25em;
}

.mura-table-grid td {
	
	padding: 4px 5px 4px 5px;
	border-left: 1px solid #DBDBDB;
	border-right: 1px solid #DBDBDB;
	white-space: nowrap;
	text-align: center;
	width: 1%;
}

/*table table {
	padding: 0;
	border: 0;
	white-space: normal;
	background-color: transparent;
	text-align: left;
	width: auto;
}

table td table td {
	padding: 0;
	border: 0;
	white-space: normal;
	background-color: transparent;
	text-align: left;
	width: auto;
}*/

.mura-table-grid .alt td {
	/*border: 1px solid #DBDBDB;*/
	background-color: #fcfeff;
}

.mura-table-grid  td.email {
	text-transform: lowercase;
}

.mura-table-grid  th.url, table td.url {
	text-align: left;
}

.mura-table-grid  tr.alt th, .mura-table-grid  tr.alt td, .alt dl {
	background-color: #FCFEFF;
}

.mura-table-grid .var-width {
	width: 95%;
	text-align: left;
	white-space: normal;
}



.mura-table-grid td.add {
	padding: 5px 4px 0;
}

.mura-table-grid td.add a, .mura-grid a.add {
	display: block;
	background: url(../images/icons/add_16x16.png) no-repeat center center;
	width: 16px;
	height: 16px;
	padding: 0;
}

.mura-grid a.add { /* really only needed for ie7 */
	width: 24px;
	height: 28px;
}

#ccategory table td.add a, #cFeed table td.add a {
	background: url(../images/icons/add_16x16.png) no-repeat center center;
}

/*#ccategory td.add a {
	display: block;
	background: url(../images/icons/new_32.png) no-repeat center center;
	width: 12px;
	height: 13px;
	padding: 0;
}*/

table td.add a:hover {
	text-decoration: none;
}

li.Page {
	background: transparent url(../images/icons/files/icon_generic_small.gif) no-repeat;
	margin: 0;
}

td li.Page {
	padding: 2px 0 2px 30px;
	background-position: 11px 1px;
}

table td.var-width li,
table#fileList td.var-width a,
.overview span
 {
	background-position: 11px 1px;
	color: #333232;
	text-decoration: none;
	margin: 0;
	padding: 2px 0 2px 30px;
}

table#fileList td.var-width a,
.overview .type span {
	padding: 2px 0 2px 20px;
	background-position: 0px 1px;
}

#docTitle {
	padding-left: 20px;
	background-position: left center;
}

table.cfdebug {
	width: auto !important;
}

table.cfdebug td {
	text-align: left;
	background: #fff;
}

table.cfdebug td a {
	
}

.mura-row {
	background: @white;
}

.table tbody tr:hover td,
.table tbody tr:hover th,
#mura-nodes dl:hover,
.mura-row:hover {
  background-color: @tableBackgroundHover;
}

.mura-row.alt {
  background-color: @tableBackgroundAccent;
}

.mura-row.alt:hover {
  background-color: @tableBackgroundHover;
}

// Category Manager

#ccategory .addNew a {
	border-bottom: 0px;
}

#ccategory li {
	padding-left: 0;
}