#nav-module-specific {
	margin-bottom: @baseLineHeight * 1.5;
	margin-left: 0;
	clear: both;
	
	a.btn {
		/* box-shadow: 1px 1px 2px rgba(000,000,000,.15); */
		text-shadow: (0 1px rgba(255,255,255,.99));
		font-size: 12px;
		padding: 4px 12px;
			
		i {
			color: @gray;
			text-shadow: (0 -1px rgba(000,000,000,.6));
		}
	}
	
	a.active, a:active {
		box-shadow: rgba(0, 0, 0, 0.138438) 0px 1px 4px 0px inset, rgba(0, 0, 0, 0.036875) 0px 1px 2px 0px;
		}
}

#btn-module-specific {
	margin-bottom: @baseLineHeight;
}

/* Tabs */

.tabbable {
	.nav .active a {
		color: @black;
		}
	}

/* Zoom Nav */

.navZoom, #crumblist {
	list-style: none;
	margin: 0 0 10px 0;
	padding: 0 0 10px 0;
	clear: both;
	border: 1px solid @grayLight !important;
}

#content .notice .navZoom {
	background: none;
	padding: 0;
	margin: 0;
	font-size: 12px;
}

.navZoom li, #crumblist li {
	display: inline;
	margin: 0;
	padding: 0;
	background-image: url(../images/icons/files/icon_generic_small.gif);
	background-repeat: no-repeat;
}

.navZoom li.last a, #crumblist li.last a {
	font-weight: bold;
}

.navZoom li a, #crumblist li a {
	padding: 2px 0;
}



.notice p {
	margin-bottom: .5em;
}

h3 + .navZoom {
	margin-top: 2.3em;
}

.navZoom + form  {
	margin-top: 1.35em;
}

td #crumblist {
	margin-bottom: 0;
	padding-bottom: 0;
}