/* @override http://localhost:8500/muracms/default/includes/themes/merced/css/mobile.css
	http://localhost:8500/muracms/default/css/mura.css */

/* @override http://localjost:8500/muracms/default/includes/themes/merced/css/mobile.css */

/*
Theme:  Merced-Mobile
Author: Blue River Interactive Group
*/


h1#site-title {
	text-align: center;
	margin: 0;
	padding: 15px 15px 0;
}

#navSub ul {
	padding-left: 0;
}

#navPrimary a, #navSub a {
	text-decoration: none;
}

dl, dl:last-child {
	margin: .75em 0 0 0 !important;
	padding: .75em 0 0 0 !important;
	border-top: 1px solid #bbb !important;
	position: relative;
}

dl:first-child {
	margin: 0 !important;
	padding: 0;
	border: 0  !important;
}

dt {
	margin-bottom: .25em !important;
}

dt.releaseDate {
	font-size: .75em;
	color: #333 !important;
	margin-bottom: .5em !important;
}

dt a {
	text-decoration: none;
}

dd.summary {
	margin-left: 0;
	font-size: .75em;
}

dd.summary p {
	margin: .5em 0;
}

dl.hasImage dd.image {
	position: relative;
}

dl.hasImage dd.image img {
	display: block;
}

form ol, form ul {
	list-style: none;
	margin: 0 0 2em;
	padding: 0;
}

form li {
	margin: 0 0 6px;
	padding: 0;
}

form li.ui-controlgroup {
	margin-bottom: 0;
}

form input[type=checkbox] {
	display: none;
}

#svGallery li {
	min-height: 0 !important;
	height: auto !important;
	padding-bottom: 2%;
}

#svGallery li a {
	margin-bottom: 0;
}

#svGallery dl {
	display: none;
}

.svIndex {
	margin-top: 0;
}

.svIndex>ul li {
	margin: 0;
}

.svIndex .releaseDate  {
	margin: 0;
	clear: both;
}

.svIndex ul li h3  {
	margin: 0 0 .5em;
	font-size: 14px;
}

.svIndex .credits {
	margin-bottom: 0;
	clear: both;
}

.stars a {
	width: 14px;
	height: 13px;
	background: transparent url(../images/rater/stars.png) no-repeat;
}

.zero { background-image: url(../images/rater/star_zero.png); }
.one { background-image: url(../images/rater/star_one.png); }
.onehalf { background-image: url(../images/rater/star_onehalf.png); }
.two { background-image: url(../images/rater/star_two.png); }
.twohalf { background-image: url(../images/rater/star_twohalf.png); }
.three { background-image: url(../images/rater/star_three.png); }
.threehalf { background-image: url(../images/rater/star_threehalf.png); }
.four { background-image: url(../images/rater/star_four.png); }
.fourhalf { background-image: url(../images/rater/star_fourhalf.png); }
.five { background-image: url(../images/rater/star_five.png); }

.moreResults dt {
	font-size: 1em;
}

.moreResults dd {
	margin: 0;
}

.moreResults li {
	margin: 0 -5px 0 0 !important; /* This is repeated here from the jQuery mobile CSS because it was getting overridden somehow. */
}

/* @group Globals - Forms
===================================== */
.required {
	margin: 0 0 .5em .25em;
	font-weight: normal;
	color: #b00;
	}

p.required {
	padding-left: 7px;
	background: url(../images/icon_star.png) no-repeat;
	}

p#loginMsg.required {
	margin-bottom: 2em;
	}

form li.req {} /* could add background color */

legend {
	padding-bottom: .75em;
}

.min-width-480px .ui-controlgroup-label {
	width: 20%;
	padding-left: 8px;
}

label.ui-input-text {
	font-weight: bold;
	padding-left: 8px;
}

.req label {
	background: url(../images/icon_star.png) no-repeat 0 0;
} /* could add color */

.req ins {
	position: absolute;
	left: -9999px;
	}

li .req ins {
	padding-left: 8px;
	background: url(../images/icon_star.png) no-repeat 100% 0;
	}

.req input {} /* could do { border: 1px solid darkred; color: darkred; } */


/* @end Globals - Forms - Required Fields
-------------------------------- */

/* @group Calendar
===================================== */
.svCalendar table {
	border-spacing: 0;
	border-collapse: collapse;
}

.svCalendar th {
	background: #666;
	color: #fff;
	text-shadow: 0 -1px 1px #000;
	border: 0;
	}

#svCalendarNav th {
	line-height: 1.2;
	font-size: .9em;
}

.svCalendar th a {
	color: #fff !important;
	text-decoration: none;
	font-size: 1.5em;
	padding: 0;
	line-height: 1.2;
	}

.svCalendar th a:hover {
	
	}
	
.svCalendar td {
	height: 40px;
	border: 1px solid #aaa;
	background: #f9f9f9;
		}
		
.svCalendar .dayofweek td {
	font-size: .75em;
	}

.svCalendar td span.date {
	font-size: 1.25em;
}

/* @end Calendar
-------------------------------- */

/*
	Fixes iOS right roverflow issue with 100% width and padding
*/
.ui-header, .ui-footer, .ui-page-fullscreen .ui-header, .ui-page-fullscreen .ui-footer {
	width: auto;
}