/*-----------------------------------------------------------------------------
IE6 Notice Stylesheet
version:   1.0
date:      28/07/09
author:    George Ornbo
email:     george at shapeshed dot com
website:   http://shapeshed.com

-----------------------------------------------------------------------------*/

/* 
	In order to stop the position:fixed being jerky we need this
	@see http://www.gunlaug.no/contents/wd_additions_15.html
	
*/

/* 
	Fix for position:fixed in IE6 (see why it must die?)
	@see http://www.gunlaug.no/contents/wd_additions_15.html
*/
#ie6-notice {
	position: absolute;
	top:expression(eval(document.compatMode &&
	document.compatMode=='CSS1Compat') ?
	documentElement.scrollTop : document.body.scrollTop);
	left: 0;
	top: 0;
	width: 100%;
	padding-top: 5px;
	padding-bottom: 5px;
	/*
padding-left: 1%;
	padding-right: 1%;
*/
	margin: 0;
	background: #ffffcc;
	filter: alpha(opacity=85);
}
#ie6-notice p#ie6-text
	{
	text-align: left;
	float: left;
	color: #000;
	padding: 5px 0 5px 50px;
	margin: 0;
	width: 45%;	
	background:transparent url('../images/icons/stop_32.gif') no-repeat 10px center;	
}
#ie6-notice p#ie6-hide-notice a
	{
	text-align: right;
	float: right;
	color: #000;
	padding: 5px 20px 5px 0px;
	margin: 0 10px;
	width: 17%;	
	background:transparent url('../images/icons/delete_on.gif') no-repeat right center;
	border-bottom: 0;
}
