.mura__edit__controls{
	background-color: #d498d0;
	float:right;
	margin: 0 !important;
	padding: 0 !important;
	height: 100% !important;	
}

.mura__edit__controls__objects{
	background-color: #d498d0;	
}
