/* @override http://mura:8500/admin/css/tab-view.css */

/* @group Legacy Tabs */

.page_tabPane{
		height:21px;	/* Height of tabs */
		border-bottom:1px solid #919b9c;
		list-style: none;
	}

.page_aTab{
		/*border-left:1px solid #919b9c;
		border-right:1px solid #919b9c;
		border-bottom:1px solid #919b9c;*/
		font-family: Trebuchet MS, Lucida Sans Unicode, Arial, sans-serif;
		padding:5px;
				
		
	}
	.page_tabPane LI{
		float:left;
		height:100%;	/* Height of tabs */
		padding-left:3px;
		vertical-align:middle;
		background-repeat:no-repeat;
		background-position:bottom left;
		cursor:pointer;
		position:relative;
		bottom:-1px;
		margin-left:0px;
		margin-right:0px;
	}
	.page_tabPane .tabActive{
		background-image:url('../images/tabs/tab_left_active.gif');
		margin-left:0px;
		margin-right:0px;	
		z-index:10;	
	}
	.page_tabPane .tabInactive{
		background-image:url('../images/tabs/tab_left_inactive.gif');
		margin-left:0px;
		margin-right:0px;
		z-index:1;
	}
	.page_tabPane .inactiveTabOver{
		background-image:url('../images/tabs/tab_left_over.gif');
		margin-left:0px;
		margin-right:0px;
	}
	.page_tabPane span{
		font-family:arial;
		vertical-align:top;
		font-size:11px;
		padding-left:3px;
		padding-right:3px;		
		line-height:21px;
		float:left;
	}
	.page_tabPane .tabActive span{
		padding-bottom:1px;
		line-height:20px;
	}
	
	.page_tabPane img{
		float:left;
	}
	
/* @end */

/* @group Tabber Tabs */

/* $Id: example.css,v 1.5 2006/03/27 02:44:36 pat Exp $ */

/*--------------------------------------------------
  REQUIRED to hide the non-active tab content.
  But do not hide them in the print stylesheet!
  --------------------------------------------------*/
.tabberlive .tabbertabhide {
 display:none;
}

/*--------------------------------------------------
  .tabber = before the tabber interface is set up
  .tabberlive = after the tabber interface is set up
  --------------------------------------------------*/
.tabber {
}
.tabberlive {
 margin-top:1em;
}

/*--------------------------------------------------
  ul.tabbernav = the tab navigation list
  li.tabberactive = the active tab
  --------------------------------------------------*/
ul.tabbernav {
 margin: 0;
 padding: 3px 0;
 border-bottom: 1px solid #a2a2a2;
 font: normal .9em Verdana, sans-serif;
}

#popUp ul.tabbernav {
 margin: 0 0 1em 0;
}

ul.tabbernav li
{
 list-style: none;
 margin: 0;
 display: inline;
}

ul.tabbernav li a
{
 padding: 3px 8px;
 margin-right: 3px;
 border: 1px solid #a2a2a2;
 border-bottom: none;
 background: #dbdbdb;
 text-decoration: none;
 -moz-border-radius-topleft: 4px;
-moz-border-radius-topright: 4px;
 -webkit-border-top-left-radius: 4px;
-webkit-border-top-right-radius: 4px;
}

ul.tabbernav li a:link { color: #000; }
ul.tabbernav li a:visited { color: ; }

ul.tabbernav li a:hover, ul.tabbernav li.tabberactive a {
 background: #fff;
 border-bottom: 1px solid #fff;
 border-top: 3px solid #f4ba00;
 color: #000;
}

ul.tabbernav li a:hover {
	 border-bottom: 1px solid #a2a2a2;
}

ul.tabbernav li.tabberactive a:hover {
 background: #fff /*url(../images/tabs/bg_tab_active.gif) repeat-x left -1px*/;
 border-bottom: 1px solid #fff;
}

/*--------------------------------------------------
  .tabbertab = the tab content
  Add style only after the tabber interface is set up (.tabberlive)
  --------------------------------------------------*/
.tabberlive .tabbertab {
 padding: 5px;
 border: 1px solid #a2a2a2;
 border-top: 0;
}

.tabberlive .tabbertab {
 border: 0;
}

/* If desired, hide the heading since a heading is provided by the tab */
.tabberlive .tabbertab h2, .tabberlive .tabbertab h3, .tabberlive .tabbertab h4 {
  display: none;
}

#popUp .tabberlive .tabbertab h2, #popUp .tabberlive .tabbertab h3, #popUp .tabberlive .tabbertab h4 {
  display: block;
}

/* Example of using an ID to set different styles for the tabs on the page */
.tabberlive#tab1 {
}
.tabberlive#tab2 {
}
.tabberlive#tab2 .tabbertab {

}


/* @end */	