<!--
	This is a ColdSpring XML fragment.
	
	Copy and paste into your application's ColdSpring.xml file.
	
	See ../install/readme.txt for complete instructions on using this ActionPack.
-->


  <!-- Email Service -->
  <bean id="EmailService" class="ModelGlue.actionpacks.email.model.EmailService">
    <constructor-arg name="EmailConfiguration">
      <ref bean="EmailConfiguration" />
    </constructor-arg>
  </bean>
  
  <!-- E-Mail Configuration -->
  <bean id="EmailConfiguration" class="ModelGlue.Bean.CommonBeans.SimpleConfig">
    <property name="Config">
      <map>
				<!-- 
					If set to "true", no e-mail goes to its actual "to" value, but to the list of 
					addresses in the developmentEmailAddress value 
				-->
        <entry key="developmentMode"><value>true</value></entry>
				
				<!-- 
					When in development mode, who should e-mails go to?
				-->
        <entry key="developmentEmailAddress">
          <value>no-reply@localhost</value>
        </entry>
				
				<!-- A default sender for all e-mails -->
        <entry key="defaultFrom">
          <value>no-reply@localhost</value>
        </entry>
				
				<!-- Default type for e-mail:  text or html. -->
        <entry key="defaultType">
          <value>text</value>
        </entry>
								
				<!-- Server to use.  This MUST be filled out, ColdFusion's default will not be used. -->
        <entry key="server">
          <value>localhost</value>
        </entry>
        <entry key="port">
          <value>25</value>
        </entry>
        <entry key="username">
          <value></value>
        </entry>
        <entry key="password">
          <value></value>
        </entry>
      </map>      
    </property>
  </bean>
