/*  This file is part of Mura CMS.

    Mura CMS is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, Version 2 of the License.

    Mura CMS is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Mura CMS.  If not, see <http://www.gnu.org/licenses/>.

*/



/* @group GLOBALS
===================================== */

body {
	color: #000;
	background: #ebebeb;
	}

a { color: #1999cd; }

p.intro {
	margin-bottom: 1em;
	font-size: 1.8em;
	line-height: 1.3;
	color: #666;
	}

.content img {
	padding: .5em;
	border: 1px solid #ccc;
	}


/* @group Globals - Headings
===================================== */

p#sectionTitle {
	position: absolute;
	top: 220px;
	left: 30px;
	margin: 0;
	font-size: 4em;
	font-weight: normal;
	color: #fff;
	}

h2.pageTitle {
	margin-bottom: .25em;
	font-size: 3em;
	}

h3, h4, h5, h6 {
	margin: 0 0 .5em;
	font-weight: normal;
	}

h3 {
	font-size: 2.5em;
	line-height: 1.25;
	}

h4 {
	font-size: 2em;
	}

h5 {
	font-size: 1.6em;
	}

h6 {
	font-size: 1.2em;
	}

/* @end Globals - Headings
-------------------------------- */

/* @end GLOBALS
-------------------------------- */



/* @group LAYOUT
===================================== */

#container {
	position: relative;
	background: #fff;
	}

#content {
	padding: 1.8em 0;
	}

.content,
.sidebar {
	padding-top: 34px;
	}

.twoColSL .content {
	width: 710px;			/* Account for padding and border, reduced width 20px */
	padding-left: 10px;
	}
.twoColSR .content {
	width: 710px;			/* Account for padding and border, reduced width 20px */
	padding-right: 10px;
	padding-left: 30px;
	}	
.threeCol .content {
	width: 520px;			/* Content Primary width adjustment- for 3 column layouts */
	padding: 0 10px;
	}


/* @group Layout - Header
===================================== */

#header {
	padding: 30px 0 160px;
	background: url(images/bg_header.jpg) no-repeat left bottom;
	}

#header h1 {
	float: left;
	margin: 0 0 0 30px;
	}

#header h1 a {
	color: #000;
	}

#header #searchForm {
	float: right;
	margin: 8px 20px 0 0;
	padding: 0;
	border: none;
	}

/* @end Layout - Header
-------------------------------- */


/* @group Layout - Footer
===================================== */

#footer {
	margin: 20px;
	padding: 1em;
	border-top: 1px solid #ebebeb;
	font-size: .85em;
	}

#footer ul {
	float: right;
	margin: 0;
	padding: 0;
	list-style: none;
	}

#footer li {
	float: left;
	margin-right: .5em;
	padding-right: .5em;
	}

#footer li.last {
	margin: 0;
	padding: 0;
	border: none;
	}

#footer p {
	float: left;
	margin: 0;
	}

/* @end Layout - Footer
-------------------------------- */

/* @end LAYOUT
-------------------------------- */



/* @group NAVIGATION/UI
===================================== */

/* @group Nav - Breadcrumb
===================================== */

#crumbList {
	margin-bottom: 2em;
	}

#crumbList li {
	color: #999;
	}

#crumbList a {
	padding-bottom: 0;
	border: 0;
	color: #999;
	}

/* @end Nav - Breadcrumb
-------------------------------- */


/* @group Nav - Primary
===================================== */

#navPrimary {
	margin-top: 30px;
	background: #fc9700;
	}

#navPrimary li {
	margin: 0;
	}
#navPrimary li.first {
	margin-left: 12px;
	}

#navPrimary a {
	display: block;
	padding: 0 1.5em;
	line-height: 3.2;
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
	}

#navPrimary li a:hover,
#navPrimary li:hover,
#navPrimary li.sfhover {
	text-decoration: none;
	background-color: #fa5a00;
	}

#navPrimary li.current a {
	background-color: #fa5a00;
	}

#navPrimary li ul { /* second-level lists */
	background-color: #fa5a00;
	}

#navPrimary li li {
	border-top: 1px solid #fc9700;
	}
#navPrimary li li.first {
	margin-left: 0;
	}

#navPrimary li:hover li a:hover,
#navPrimary li.sfhover li a:hover {
	color: #000;
	}

/* @end Nav - Primary
-------------------------------- */

/* @end NAVIGATION/UI
-------------------------------- */



/* @group default.css Overrides
===================================== */

.svSyndLocal dl,
.svSyndRemote dl {
	float: left;
	width: 100%;
	margin-bottom: .3em;
	padding-top: .5em;
	border-top: 1px solid #ccc;
	}

dd img {
	width: 100px;
	}

dt.releaseDate {
	color: #666;
	}

/* @end default.css Overrides
-------------------------------- */


/* EOF */