table.parameters {
	border: 1px solid #666666;
	border-collapse: collapse;
}
table.parameters td {
	border-collapse: collapse;
}
table.parameters tr.header td {
	text-align: center;
	font-weight: bold;
	font-size: 1.1em;
	background-color: #cccccc;
}
