/*  This file is part of Sava CMS (www.gosava.com).

    Sava CMS is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, Version 2 of the License.

    Sava CMS is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Sava CMS.  If not, see <http://www.gnu.org/licenses/>.

*/



/* @group IE6 Fixes
===================================== */

* html legend { /* Fixes incorrect styling of legend in IE6. */
	/*margin: -18px -8px 16px 0;
	padding: 0;*/
	}

* html .content,
* html .sidebar {
	height: 100px; /* equivalent to min-height */
	display: inline; /* double-margin fix */
	}

* html .req label,
* html p.required {
	background-image: url(../images/icon_star.gif);
	}

* html #features dl {
	margin: 18px 13px 0 0;
	}

* htm #svPortal dl {
	margin: 0 0 15px 0;
	}

* html #features { zoom: 1; } /* hasLayout fix */

* html #features dl { display: inline; } /* double-margin fix */

/* @end IE6 Fixes
-------------------------------- */



/* @group IE6/7 Fixes
===================================== */

hr { margin: -8px auto 11px; } /* IE 6/7 has problems with setting proper <hr> margins. */

/* Fixes wrong line-height on sup/sub in IE 6/7. */
sup { vertical-align: text-top; }
sub { vertical-align: text-bottom; }


/* @end IE6/7 Fixes
-------------------------------- */



/* @group IE7 Fixes
===================================== */

html>body p code { *white-space: normal; } /* Fixes IE7 missing wrapping of code elements. */

html>body h1 a {
	margin: 0 0 20px 0;
	}


/* @group IE7 - Dropdown Nav
===================================== */
 /* IE7 Only - Fixes enlarged text on subnav which makes everything set in ems display incorrectly */

*+html #navPrimary li li { font-size: 1em; }

*+html #navPrimary li:hover,
*+html #navPrimary li.hover { position: static; }

/* @end IE7 - Dropdown Nav
-------------------------------- */

/* @end IE7 Fixes
-------------------------------- */


/* EOF */