/*  This file is part of Mura CMS (www.getmura.com).

    Mura CMS is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, Version 2 of the License.

    Mura CMS is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Mura CMS.  If not, see <http://www.gnu.org/licenses/>.

*/



/* @group IE6 Fixes
===================================== */

* html legend { /* Fixes incorrect styling of legend in IE6. */
	/*margin: -18px -8px 16px 0;
	padding: 0;*/
	margin-left: 0;
	padding: 0;
	}

* html .content,
* html .sidebar {
	height: 100px; /* equivalent to min-height */
	display: inline; /* double-margin fix */
	}

* html #right {
		position: relative;
		z-index: 1;
}

* html .req label,
* html p.required {
	background-image: url(../images/icon_star.gif);
	}

* html #features dl {
	margin: 18px 13px 0 0;
	}

* html #svPortal dl {
	margin: 0 0 15px 0;
	}

* html #features { zoom: 1; } /* hasLayout fix */

* html #navPrimary li, * html #features dl { display: inline; } /* double-margin fix */

* html .svSlideshow {
	margin-bottom: 0;
	}

* html #sendLogin {
	height: 130px;
	}
	
* html .svSlideshow dl.hasImage { /* Optimized for 180px square medium images - edit image size in "site settings." Adjust as necessary */
		height: 190px;
		}
		
* html .home .svSlideshow {
	height: 220px;
	}

* html .home .svSlides {
	height: 186px;
	}

/* @end IE6 Fixes
-------------------------------- */

/* @group IE6/7 Fixes
===================================== */

hr { margin: -8px auto 11px; } /* IE 6/7 has problems with setting proper <hr> margins. */

/* Fixes wrong line-height on sup/sub in IE 6/7. */
sup { vertical-align: text-top; }
sub { vertical-align: text-bottom; }

h1 {
	margin-bottom: 36px;
	}

.svSyndLocal dl {
	zoom: 1;
	}	

.submit, .buttons input {
	padding: 0 4px 0;
	line-height: 10px;
	height: 24px;
	}

#searchForm fieldset {
	position: relative;
	}

#searchForm input.text {
	width: 170px;
	}

#searchForm .submit {
	width: 34px;
	position: absolute;
	right: 0;
	top: -1px;
	}

#searchForm {
	width: 215px;
	}

#svAddNewFeed form {
	zoom: 1;
	padding: 1em;
		padding-bottom: 0;
	}

legend {
	padding: 0;
	}
	
.rating {
	background-position: 35px 50%;
	}
	
* html .sidebar .svIndex .rating {
	background-position: 35px -1px;
	}

.oneCol #svGallery li {
	width: 8%;
	}

.threeCol #svGallery li {
	width: 17%;
	}

/* @end IE6/7 Fixes
-------------------------------- */



/* @group IE7 Fixes
===================================== */

html>body p code { *white-space: normal; } /* Fixes IE7 missing wrapping of code elements. */

html>body h1 a {
	margin: 0 0 20px 0;
	}

html>body # right .svIndex dl {
	width:  100px;
}

/* @group IE7 - Dropdown Nav
===================================== */
 /* IE7 Only - Fixes enlarged text on subnav which makes everything set in ems display incorrectly */

*+html #navPrimary li li { font-size: 1em; }

*+html #navPrimary li:hover,
*+html #navPrimary li.hover { position: static; }

/* @end IE7 - Dropdown Nav
-------------------------------- */

/* @end IE7 Fixes
-------------------------------- */


/* EOF */