/* @override http://10.0.1.197:8500/mura/demo/includes/themes/merced/css/site.css */

/*
	Theme:	Sava1
*/



/* @group GLOBALS
===================================== */

body {
	font-family: Arial, sans-serif;
	font-size: 62.5%;
	color: #434343;
	}

body.home {
	background: url(../images/home-main-bg.gif) repeat-x;
	}

textarea {
	font-family: Arial, Helvetica, sans-serif;
	}

a {
	text-decoration: none;
	color: #2e7aa7;
	}
a:hover {
	text-decoration: underline;
	}


/* @group Globals - Tables
===================================== */

.content table {
	width: 100%;
	margin-top: 30px;
	}

th {
	border: 1px solid;
	border-color: #becfd6 #becfd6 #dce6ea;
	color: #32566c;
	background: #e9f3f7;
	}

td {
	padding: 10px;
	border: 1px solid #d6d6d6;
	font-size: .916em;
	}

/* @end Globals - Tables
-------------------------------- */


/* @group Globals - Forms
===================================== */

/* @group Globals - Forms - Search
===================================== */

#searchForm {
	position: absolute;
	top: 17px;
	right: 0;
	width: 215px;
	margin: 0;
	padding: 0;
	}

#searchForm div {
	height: 15px;
	padding: 0 0 10px 10px;
	background: #fff url(../images/input-bg.gif) no-repeat;
	}

#searchForm input {
	float: left;
	width: 155px;
	height: 15px;
	overflow: hidden;
	margin: 5px 0 0;
	border: 0;
	font-size: 1em;
	font-style: italic;
	color: #b3b3b3;
	background: #fff;
	}

#searchForm button {
	float: right;
	width: 32px;
	height: 19px;
	margin-top: 2px;
	border: none;
	text-indent: -9999px;
	background: url(../images/search-btn.gif) no-repeat;
	}

/* @end Globals - Forms - Search
-------------------------------- */


/* @group Globals - Forms - Login
===================================== */

#login {
	font-size: .916em;
	}

#login button {
	width: 70px;
	height: 20px;
	line-height: 20px;
	margin-right: 10px;
	padding: 0 15px 3px 0;
	border: none;
	font-size: 1.09em;
	font-weight: bold;
	color: #fff;
	background: url(../images/sign-in-btn.gif) no-repeat;
	}

#login h3 {
	margin: 0 0 5px;
	font-size: 1.6em;
	}

#login h4 {
	float: left;
	margin: 1px 5px 0 0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1.09em;
	font-weight: normal;
	font-style: italic;
	color: #666;
	}

/* @end Globals - Forms - Login
-------------------------------- */


/* @group Globals - Forms - Comments
===================================== */

#svComments form {
	padding: 4em 0 2em;
	background: #e9f3f7;
	}

#svComments fieldset {
	display: inline-block;
	position: relative;
	width: 620px;
	margin: 0;
	padding: 0 40px 20px;
	border: none;
	}

#svComments legend {
	font-size: 1.4em;
	font-weight: bold;
	}

#svComments ol {
	position: relative;
	float: right;
	width: 500px;
	padding-top: 0;
	margin-top: -1.9em;
	}
#svComments li {
	margin-bottom: 1.25em;
	}

#svComments .buttons input {
	margin: 0 49px 0 10px;
	}

#svComments p.required {
	display: inline;
	float: none;
	}

#svComments label {
	line-height: 22px;
	color: #0c2846;
	background-position: 100% 3px;
	}

#svComments li input,
#svComments li textarea {
	width: 343px;
	overflow: hidden;
	padding: 3px;
	border: 1px solid #d6d6d6;
	font-family: 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
	font-size: 1em;
	font-style: italic;
	color: #b3b3b3;
	background: #fff;
	}

#svComments li#svCaptcha {
	margin: 0 0 5px;
	}

#uKey {
	width: 181px;
	height: 15px;
	overflow: hidden;
	padding: 5px 10px;
	border: none;
	font-size: 1em;
	font-style: italic;
	color: #b3b3b3;
	background: #fff url(../images/security-input-bg.gif) no-repeat;
	}

.submit {
	width: 70px;
	height: 20px;
	line-height: 20px;
	margin-right: 10px;
	padding: 0 15px 3px 0;
	border: none;
	font-size: 1.09em;
	font-weight: bold;
	color: #fff;
	background: url(../images/sign-in-btn.gif) no-repeat;
	}

/* @end Globals - Forms - Comments
-------------------------------- */

/* @end Globals - Forms
-------------------------------- */

/* @end GLOBALS
-------------------------------- */



/* @group HELPER CLASSES
===================================== */

.clearfix:after {
	content: " "; /* Avoid extra space */
	}

/* @end HELPER CLASSES
-------------------------------- */



/* @group LAYOUT
===================================== */

#container {
	width: 900px;
	margin: 0 auto;
	padding: 25px;
	background: #fff;
	}

#content {
	position: relative;
	margin-top: 15px;
	}

.home #content {
	margin-top: 0;
	}

#primary {
	float: left;
	width: 702px;
	color: #232323;
	}
.home #primary {
	width: 687px;
	}
twoColSL #primary {
	float: right;
	}
.threeCol #primary {
	width: 504px;
	}

.content,
.sidebar {
	min-height: 100px; /*Fixes odd no-content disappearing bug.*/
	}

#left {
	float: left;
	width: 167px;
	margin-right: 26px;
	padding: 27px 0;
	}
.home #left {
	width: 687px;
	padding: 0;
	}

#right {
	float: right;
	width: 156px;
	margin: 13px 0 0;
	padding: 20px 13px;
	}
.home #right {
	width: 213px;
	margin: -40px 0 0;
	padding: 0;
	}
.threeColSR {
	width: 167px;
	}

.sidebar {}
#left.sidebar {}
#right.sidebar {}


/* @group Layout - Header
===================================== */

#header {
	position: relative;
	padding-top: 14px;
	}

h1 a {
	display: block;
	width: 107px;
	height: 28px;
	margin: 0 0 10px;
	text-indent: -9999px;
	background: url(../images/logo.gif) no-repeat;
	}

#header .navUtility {
	position: absolute;
	top: 20px;
	right: 225px;
	}

/* @end Layout - Header
-------------------------------- */


/* @group Layout - Right
===================================== */

#right {
	background: #f2f2f2;
	}

.threeCol #right h3 {
	padding: 0 0 .35em 0;
	margin-bottom: .5em;
	border-bottom: 1px solid #dfdfdf;
	}

.threeCol #right ul {
	margin: 0 0 15px;
	padding: 0;
	list-style: none;
	}

/* @end Layout - Right
-------------------------------- */


/* @group Layout - Footer
===================================== */

#footer {
	clear: both;
	margin-top: 40px;
	padding-top: 17px;
	border-top: 1px solid #ededed;
	}

#footer p {
	float: right;
	font-size: .9em;
	color: #999;
	}

/* @end Layout - Footer
-------------------------------- */

/* @end LAYOUT
-------------------------------- */



/* @group NAVIGATION/UI
===================================== */

/* @group Nav - Breadcrumb
===================================== */

#crumbList {
	margin: 0 0 20px;
	}

#crumbList li {
	font-size: 1.1em;
	}

#crumbList li a:hover {
	text-decoration: underline;
	}

/* @end Nav - Breadcrumb
-------------------------------- */

/* @group Nav - Utility
===================================== */

.navUtility {
	overflow: hidden;
	margin: 0;
	padding: 0;
	}

.navUtility li {
	display: inline;
	margin: 0 .5em 0 -0.5em;
	padding: 0 10px;
	list-style: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1em !important;
	}

#footer .navUtility {
	float: left;
	}

#footer .navUtility li {
	padding: 0 5px;
	border-left: 1px solid #cfcfcf;
	}

#header .navUtility li {
	border-left: 1px solid #959595;
	}

#footer .navUtility li a {
	font-size: .9em !important;
	color: #999;
	}

/* @end Nav - Primary
-------------------------------- */

/* @group Nav - Primary
===================================== */

#navPrimary {
	height: 40px;
	overflow: hidden;
	margin: 20px 0 0 0;
	padding: 0;
	list-style: none;
	font-size: 1.083em;
	font-weight: bold;
	color: #fff;
	background: #0c2846;
	}

#navPrimary li {
	float: left;
	margin: 0;
	padding: 0;
	list-style: none;
	}

#navPrimary li.first {
	margin-left: 15px;
	}

#navPrimary a {
	display: block;
	padding: 0 15px;
	line-height: 40px;
	color: #fff;
	}

#navPrimary li.current a {
	background: #2e7aa7;
	}
#navPrimary li.current a:hover {
	text-decoration: none;
	}

#navPrimary li ul {
	display: none; /*temporary*/
	}

/* @end Nav - Primary
-------------------------------- */


/* @group Nav - Secondary
===================================== */

.navSecondary {
	margin: 0 0 4em;
	padding: 0;
	list-style: none;
	}

.navSecondary li {
	margin: 0 0 .5em;
	padding: 0 0 .5em;
	border-bottom: 1px solid #d6d6d6;
	line-height: 1.2;
	}

.navSecondary li ul {
	margin: 0;
	padding: 0 0 5px;
	list-style: none;
	}

.navSecondary li a {
	display: block;
	}
.navSecondary li a:hover {
	}

.navSecondary li.current a {
	font-weight: bold;
	color: #ff3405;
	}


/* @group Nav - Secondary - Second Level
===================================== */

.navSecondary li.current ul {
	}

.navSecondary li li {
	height: 20px;
	margin: 0 0 0 10px;
	padding: 0;
	border-bottom: none;
	list-style: none;
	line-height: 15px;
	}

.navSecondary li.current li a {
	font-weight: normal;
	color: #434343;
	}

/* @end Nav - Secondary - Second Level
-------------------------------- */

/* @end Nav - Secondary
-------------------------------- */


/* @group Nav - More Results
===================================== */

.moreResults {
	text-align: right;
	}

.moreResults ul {
	float: right;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

.moreResults li {
	display: inline;
	margin: 0 .6em 0 -0.5em !important;
	padding: 0 .5em;
	list-style: none;
	border-left: 1px solid #b6b6b6;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: .916em !important;
	}

.moreResults li a {
	padding: 0;
	}

/* @end Nav - More Results
-------------------------------- */

/* @end NAVIGATION/UI
-------------------------------- */



/* @group MODULES
===================================== */

/* @group Add Comment Component
===================================== */

#svComments {
	margin-top: 25px;
	padding-top: 25px;
	border-top: 1px solid #d6d6d6;
	}

#svComments h3 {
	margin-bottom: 20px;
	font-size: 2em;
	}

#svComments dl {
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: none;
	background: url(../images/blog-posts-divider.gif) repeat-x left bottom;
	}
#svComments dl.last {
	margin-bottom: 40px;
	background: none;
	border-bottom: 1px solid #d6d6d6;
	}

#svComments dd.dateTime {
	font-size: 1em;
	text-transform: uppercase;
	color: #777;
	}

/* @end Add Comment Component
-------------------------------- */


/* @group Features
===================================== */

#features {
	overflow: hidden;
	}

#features dl {
	float: left;
	clear: none;
	width: 213px;
	margin: 0 16px 0 0;
	}

#features dt {
	font-size: 2em;
	font-weight: bold;
	letter-spacing: -0.025em;
	}

#features dt a {
	color: #232323;
	}

#features dt a:hover {
	text-decoration: none;
	}

#features dd {
	font-size: 1.1em;
	}

#features dd p {
	margin: -3px 0 8px;
	line-height: 15px;
	}

#features dd a {
	font-weight: bold;
	}

#features dd.image {
	float: none;
	margin: 0 0 1.7em;
	}

#features dd.image img {
	/* recommended size: */
	/*width: 213px;*/
	/*height: 120px;*/
	}

/* @end Features
-------------------------------- */


/* @group Home Promo Feeds
===================================== */

.home .promo h3 {
	display: block;
	padding: 0 15px;
	line-height: 40px;
	font-size: 1.2em;
	text-transform: uppercase;
	color: #fff;
	background: #ff3405;
	}

.home .promo dl {
	margin: 11px 15px 0;
	padding: 0 0 10px;
	border-bottom: 1px solid #d6d6d6;
	}

.home .promo dt {
	margin: 0;
	padding: 0;
	font-size: 1.3em;
	font-weight: normal;
	}

.home .promo dt.releaseDate {
	margin: 0 0 3px;
	font-size: 1em;
	text-transform: uppercase;
	color: #979797;
	}

.home .promo dt a {
	background: url(../images/sidebar-dotted-underline.gif) repeat-x left bottom;
	}

.home .promo dd {
	margin: 0;
	padding: 0;
	font-size: 1.1em;
	color: #434343;
	}

.home .promo dd p {
	margin: 2px 0;
	padding: 0;
	line-height: inherit;
	}

.home .promo a.more {
	display: block;
	height: 20px;
	width: 90px;
	margin: -10px 15px 14px;
	padding: 5px 0 0 10px;
	font-size: 1em;
	font-weight: bold;
	color: #fff;
	background: url(../images/read-more-sidebar-btn.gif) no-repeat;
	}

/* @end Home Promo Feeds
-------------------------------- */


/* @group Portals
===================================== */

#svPortal dl {
	position: relative;
	margin: .5em 0 0;
	padding: 1em 0 0 0;
	}

#svPortal dl.first {
	border-top: 0;
	}

#svPortal dl.hasImage { /* optimized for 109px square images */
	min-height: 10.9em;
	padding-left: 124px;
	}

#svPortal dt {
	margin: 0;
	padding: 0;
	font-size: 1.6em;
	}

#svPortal dt.releaseDate {
	margin: 0;
	text-transform: uppercase;
	color: #777;
	}

#svPortal dt a {
	display: block;
	padding: 3px 0 0;
	}

#svPortal .summary {
	margin: 0 0 .25em;
	}

#svPortal dd.comments,
#svPortal dd.tags,
#svPortal dd.credits {
	margin-bottom: 0;
	line-height: 20px; /* acommodate height of stars */
	}

#svPortal dd.comments {
	padding: 0 .5em 0 13px;
	background: url(../images/icon_comments.gif) no-repeat 0 50%;
	}

#svPortal dd li {
	padding-right: 0;
	}

#svPortal .image {
	position: absolute;
	top: 22px;
	left: 0;
	}

#svPortal .image img { /*temporary styles*/
	display: block;
	}

#svPortal .ratings img {
	position: relative;
	top: 2px;
	}

/* @end Portals
-------------------------------- */


/* @group Session Tools
===================================== */

#svSessionTools p#welcome {
	font-weight: bold;
	color: #ff3405;
	}

/* @end Session Tools
-------------------------------- */


/* @group Slideshow
===================================== */

#slideshow {
	position: relative;
	width: 687px;
	height: 257px;
	overflow: hidden;
	margin: 0 0 2.2em;
	color: #b4dffa;
	background: #102e50 url(../images/hero-bg.jpg) no-repeat;
	}

#slideshow ul,
#slideshow ol {
	margin: 0;
	padding: 0;
	list-style: none;
	}

#slideshow ul {
	position: relative;
	width: 687px;
	height: 257px;
	overflow: hidden;
	}

#slideshow ul li {
	width: 687px;
	height: 207px;
	padding: 30px 0 20px;
	font-size: 1em;
	background: transparent !important; /* for IE 6/7 */
	}

#slideshow h2,
#slideshow p,
#slideshow .readMore {
	float: right;
	width: 370px;
	padding-right: 67px;
	}

#slideshow h2 {
	margin-bottom: 9px;
	font-size: 2.6em !important;
	font-weight: bold;
	letter-spacing: -0.025em;
	color: #fff;
	}

#slideshow p {
	margin-bottom: 1.143em;
	letter-spacing: -0.025em;
	font-size: 1.4em !important;
	line-height: 1.215em;
	}

#slideshow img {
	position: absolute;
	top: 30px;
	left: 29px;
	display: block;
	border: 3px solid #1c5981;
	}

#slideshow ol {
	position: absolute;
	bottom: 24px;
	left: 68px;
	margin: 0;
	padding: 0;
	}

#slideshow ol li {
	float: left;
	margin: 0 15px 0 0;
	}

#slideshow ol a {
	display: block;
	width: 17px;
	height: 17px;
	line-height: 17px;
	text-align: center;
	color: #fff;
	background: #0c243a;
	}

#slideshow ol li.activeLI a,
#slideshow ol a:hover {
	background: #ff3405;
	}

#slideshow .readMore a {
	display: block;
	height: 20px;
	width: 90px;
	padding: 2px 0 0 10px;
	font-weight: bold;
	color: #fff;
	background: url(../images/read-more-hero-btn.gif) no-repeat;
	}

/* @end Slideshow
-------------------------------- */


/* @group User Tools - Categories
===================================== */

#svCategories li {
	margin: 0;
	padding: 0;
	}

#svCategories li a {
	margin: 0;
	padding: 0;
	}

/* @end User Tools - Categories
-------------------------------- */


/* @group User Tools - Favorites
===================================== */

#favoriteList li {
	margin: 0;
	padding: 0;
	font-size: 1.1em;
	}

#favoriteList li a {
	margin: 0;
	padding: 0;
	}

/* @end User Tools - Favorites
-------------------------------- */

/* @end MODULES
-------------------------------- */


/* EOF */