/* This file is part of Mura CMS. 

	Mura CMS is free software: you can redistribute it and/or modify 
	it under the terms of the GNU General Public License as published by 
	the Free Software Foundation, Version 2 of the License. 

	Mura CMS is distributed in the hope that it will be useful, 
	but WITHOUT ANY WARRANTY; without even the implied warranty of 
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the 
	GNU General Public License for more details. 

	You should have received a copy of the GNU General Public License 
	along with Mura CMS.  If not, see <http://www.gnu.org/licenses/>. 

	Linking Mura CMS statically or dynamically with other modules constitutes the preparation of a derivative work based on 
	Mura CMS. Thus, the terms and conditions of the GNU General Public License version 2 ("GPL") cover the entire combined work.
	
	However, as a special exception, the copyright holders of Mura CMS grant you permission to combine Mura CMS with programs
	or libraries that are released under the GNU Lesser General Public License version 2.1.
	
	In addition, as a special exception, the copyright holders of Mura CMS grant you permission to combine Mura CMS with 
	independent software modules (plugins, themes and bundles), and to distribute these plugins, themes and bundles without 
	Mura CMS under the license of your choice, provided that you follow these specific guidelines: 
	
	Your custom code 
	
	• Must not alter any default objects in the Mura CMS database and
	• May not alter the default display of the Mura CMS logo within Mura CMS and
	• Must not alter any files in the following directories.
	
	 /admin/
	 /tasks/
	 /config/
	 /requirements/mura/
	 /Application.cfc
	 /index.cfm
	 /MuraProxy.cfc
	
	You may copy and distribute Mura CMS with a plug-in, theme or bundle that meets the above guidelines as a combined work 
	under the terms of GPL for Mura CMS, provided that you include the source code of that other code when and as the GNU GPL 
	requires distribution of source code.
	
	For clarity, if you create a modified version of Mura CMS, you are not obligated to grant this special exception for your 
	modified version; it is your choice whether to do so, or to make such modified version available under the GNU General Public License 
	version 2 without this exception.  You may, if you choose, apply this exception to your own modified versions of Mura CMS. */

/*
	typography.css
	These styles control type styles on the front-end of a site as well as in the editor on the back-end,
	allowing consistent typographic display in both places and elimintaing the need to edit 2 stylesheets.

	If you prefer to have a single .css file (and not use this file),
	just comment out or remove the '@import url(typography.css);' line in style.css
	and add your type styles into your preferred stylesheet (usually 'site.css').
*/

/*	Some styles, ideas, and concepts derived from:

	Eric Meyer Reset - http://meyerweb.com/eric/tools/css/reset/index.html
	BlueprintCSS - http://code.google.com/p/blueprintcss/
	YUI - http://developer.yahoo.com/yui/
*/



/* @group General Text Elements
===================================== */

body {
	font-family: Arial, sans-serif;
	color: #444;
	background: #fff;
	font-size: 62.5%;
	line-height: 1.2;
	}

p, li, table, blockquote {
	margin-bottom: 1em;
	line-height: 1.25;
	}

p, li, dt, dd, table { font-size: 1.2em; }

p.intro { font-size: 1.5em; }

li *, dt *, dd *, td *, th * { font-size: 1em; }

blockquote, q { padding: 0 4em; quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
blockquote p {} /* Reminder to always include blockquote content in a <p> */
blockquote div cite { font-style: italic; }

strong, b { font-weight: bold; }
em, i { font-style: italic; }

ins { text-decoration: none; }
del { text-decoration: line-through; }

abbr, acronym { border-bottom: 1px dotted; cursor: help; }

pre, code { margin: 1.5em 0; white-space: pre; }
pre, code, tt { font-size: 1em; font-family: 'andale mono', 'lucida console', monospace; line-height: 1.5; }

/* @end General Text Elements
-------------------------------- */


/* @group Headings (H1-H6)
===================================== */

h1 {
	font-size: 3.6em;
	}
h1 a {
	display: block;
	}

h2, h3, h4, h5, h6 {
	margin: 0 0 .5em;
	line-height: 1.2;
	font-weight: bold;
	}

h2 {
	margin: 0 0 .5em;
	font-size: 3em;
	}
	
h2.tagline {
	font-weight: normal;
	font-size: 13px;
	color: #999;	
}

.threeColumn h2.pageTitle {
	font-size: 3em;
	}

h3 {
	margin: 0 0 .25em;
	font-size: 2.2em;
	}

aside h3 {
	margin-bottom: .5em;
	font-size: 1.4em;
	color: #0c2846;
	}

h4 {
	margin: 0 0 .35em;
	font-size: 1.8em;
	}

aside h4 {
	font-size: 1.4em;
	}

h5 {
	font-size: 1.4em;
	}

aside h5 {
	font-size: 1.2em;
	}

h6 {
	font-size: 1.2em;
	}

aside h6 {
	font-size: 1.1em;
	}

/* @end Headings (H1-H6)
-------------------------------- */

/* EOF */