/* @group IE6 Fixes
===================================== */

/**
 * @ie IE LT 8
 */

* html legend { /* Fixes incorrect styling of legend in IE6. */
	/*margin: -18px -8px 16px 0;
	padding: 0;*/
	margin-left: 0;
	padding: 0;
	}

* html .content,
* html aside {
	height: 100px; /* equivalent to min-height */
	display: inline; /* double-margin fix */
	}

* html #right {
		position: relative;
		z-index: 1;
}

* html .req label,
* html p.required {
	background-image: url(../images/icon_star.gif);
	}

* html #primary form {
	width: 504px; /*width of #primary in three column layout*/
	}

* html #features dl {
	margin: 18px 13px 0 0;
	}

* html #svPortal dl {
	margin: 0 0 15px 0;
	}

* html #features { zoom: 1; } /* hasLayout fix */

* html #navPrimary li, * html #features dl { display: inline; } /* double-margin fix */

* html .svIndex dl.hasImage {
		height: 90px;
		}

* html .svSlideshow {
	margin-bottom: 0;
	}

* html #sendLogin {
	height: 130px;
	}
	
* html .svSlideshow dl.hasImage { /* Optimized for 180px square medium images - edit image size in "site settings." Adjust as necessary */
	height: 190px;
	}

* html .svSlides dl.hasImage { /* Optimized for 180px wide images. Edit image size in "site settings." Adjust here as necessary*/
		height: 180px;
		}
		
* html .home .svSlideshow {
	height: 220px;
	}

* html .home .svSlides {
	/*height: 186px;*/
	}
	
* html .home ol.svPager {
	position: absolute;
	bottom: 5px;
	z-index: 2;
	width: 190px;
	text-align: center;
	margin: 10px 0;
	padding: 0;
	list-style: none;
	}

* html .home #right {
	position: relative;
	top: -40px;
	z-index: 2;
	margin: 0; 
}

* html aside .svIndex .rating {
	background-position: 35px -1px;
	}
/* @end IE6 Fixes
-------------------------------- */

/* @group IE6/7 Fixes
===================================== */
hr { margin: -8px auto 11px; } /* IE 6/7 has problems with setting proper <hr> margins. */

article {
	z-index: 1;
}

/* Fixes wrong line-height on sup/sub in IE 6/7. */
sup { vertical-align: text-top; }
sub { vertical-align: text-bottom; }

h1 {
	margin-bottom: 36px;
	}

#header {
	z-index: 1;	/* Fixes overlapping of content */
}

.svSyndLocal dl {
	zoom: 1;
	}	

.submit, .buttons input {
	padding: 0 4px 0;
	line-height: 10px;
	height: 24px;
	}

#searchForm fieldset {
	position: relative;
	}

#searchForm input.text {
	width: 170px;
	}

#searchForm .submit {
	width: 34px;
	position: absolute;
	right: 0;
	top: -1px;
	}

#searchForm {
	width: 215px;
	}

#svAddNewFeed form {
	zoom: 1;
	padding: 1em;
	padding-bottom: 0;
	}

legend {
	padding: 0;
	}
	
.rating {
	background-position: 35px 50%;
	}

.oneCol #svGallery li {
	width: 8%;
	}

.threeCol #svGallery li {
	width: 17%;
	}

/* @end IE6/7 Fixes
-------------------------------- */



/* @group IE7 Fixes
===================================== */

html>body p code { *white-space: normal; } /* Fixes IE7 missing wrapping of code elements. */

html>body h1 a {
	margin: 0 0 20px 0;
	}

/* @group IE7 - Dropdown Nav
===================================== */
 /* IE7 Only - Fixes enlarged text on subnav which makes everything set in ems display incorrectly */

*:first-child+html #navPrimary li li { font-size: 1em; }

*:first-child+html #navPrimary li:hover,
*:first-child+html #navPrimary li.hover { position: static; }

/* @end IE7 - Dropdown Nav
-------------------------------- */

/* @end IE7 Fixes
-------------------------------- */


/* EOF */