<form>
	<div class="mura-control-group">
		<label for="beanList">Choose Entity:</label>	
		<div class="form-group-select">
			<select type="text" name="bean" id="select-bean-value">
				{{#each this}}
					<option value="{{name}}">{{name}}</option>
				{{/each}}
			</select>
		</div>
	</div>
	<div class="mura-control-group">
		<button type="button" id="select-bean">Go</button>
	</div>
</form>