.mura-index,
.mura-gallery {
	
	.comments a {
		background: url(../images/icon-sprite.png) no-repeat 0 -200px;
		padding-left: 16px;
	}
	
}

// Nav Sequential
.mura-nav-sequential,
.mura-next-n {
	
	ul {
		margin: 0 0 1em;
		padding: 0;
		
		li {
		
			a {
				border: 1px solid #ccc;
				padding: .25em .5em;
				}
		
			}
		
		}
	
	}
	
// User/Session Tools
.mura-user-tools-session {
	margin: 0 0 1em;
	padding: 0;

	ul {
		margin: 0;
		padding: 0;

		li {
			margin: 0;
			padding: 0 .5em 0 0;
			
			a { text-decoration: none; }
			
			}
		}
	}
	
// Page Tools
.mura-page-tools {
	margin: 0 0 2em;
	padding: 0;

	ul {
		margin: 0;
		padding: 0;

		li {
			margin: 0;
			padding: 0;
			
			&.add-favorite > a {
			padding-left: 20px;
			background: url("../images/icon-sprite.png") left -50px no-repeat;
				}
			
			&.print-page > a {			
			padding-left: 20px;
			background: url("../images/icon-sprite.png") left -100px no-repeat;
				}

			&.favorite-exists > a {
				padding-left: 20px;
				background: url("../images/icon-sprite.png") left top no-repeat;
				}
			}
		}
	}

// Favorites List
.mura-favorites-list {
	
	margin: 0 0 1em;
	
	ul {
		margin: 0;
		padding: 0;
		
		li {
			border: none;
			line-height: 1;
			margin: 0 0 .65em !important;
			padding: 0;
	
			&.defaultMsg {
				margin: 0;
				list-style: none !important;
				font-size: 1em;
				line-height: 1.2;
				color: #666;
			}
	
			> .remove { 				
				padding-left: 20px;
				background: url("../images/icon-sprite.png") left top no-repeat;
				}
			}
		}
	}

// Category Summary

.mura-category-summary a.rss {
	background: url(../images/icon-sprite.png) no-repeat 0 -150px;
	padding: 4px 0 4px 18px;
	}
	
	