.mura-index,
.mura-gallery {
	
	.comments a {
		background: url(../images/icon-sprite.png) no-repeat 0 -200px;
		padding-left: 16px;
	}
	
}

.mura-breadcrumb {
	
	margin-left: 0;
	padding-left: 0;
		
	li {
		margin-right: .5em;
	}
	
}

// Nav Sequential
.mura-nav-sequential,
.mura-next-n {
	
	ul {
		margin: 0 0 1em;
		padding: 0;
		
		li {
		
			a {
				border: 1px solid #ccc;
				padding: .25em .5em;
				}
		
			}
		
		}
	
	}
	
// User/Session Tools
.mura-user-tools-session {
	margin: 0 0 1em;
	padding: 0;

	ul {
		margin: 0;
		padding: 0;

		li {
			margin: 0;
			padding: 0 .5em 0 0;
			
			a { text-decoration: none; }
			
			}
		}
	}
	
// Page Tools
.mura-page-tools {
	margin: 0 0 2em;
	padding: 0;

	ul {
		margin: 0;
		padding: 0;

		li {
			margin: 0;
			padding: 0;
			
			&.add-favorite > a {
			padding-left: 20px;
			background: url("../images/icon-sprite.png") left -50px no-repeat;
				}
			
			&.print-page > a {			
			padding-left: 20px;
			background: url("../images/icon-sprite.png") left -100px no-repeat;
				}

			&.favorite-exists > a {
				padding-left: 20px;
				background: url("../images/icon-sprite.png") left top no-repeat;
				}
			}
		}
	}

// Favorites List
.mura-favorites-list {
	
	margin: 0 0 1em;
	
	ul {
		margin: 0;
		padding: 0;
		
		li {
			border: none;
			line-height: 1;
			margin: 0 0 .65em !important;
			padding: 0;
			clear: both;
			display: block;
	
			&.defaultMsg {
				margin: 0;
				list-style: none !important;
				font-size: 1em;
				line-height: 1.2;
				color: #666;
			}
	
			> .remove {
				background: url("../images/icon-sprite.png") left top no-repeat;
				float: left;
				display: block;
				width: 20px;
				height: 16px;
				}
			}
		}
	}

// Category Summary

.mura-category-summary a.rss {
	background: url(../images/icon-sprite.png) no-repeat 0 -150px;
	padding: 4px 0 4px 18px;
	}

// Form Styles
form {

	&.mura-login-form {
		fieldset { margin-bottom: 0; }
		h3 {
			padding-bottom: 0;
			border-bottom: 0;
		}

	}

	&.mura-send-login {
		margin-bottom: 2em;
		}

	
	.req label { 

		&:after { 
			content: " *";
	    	color: red;
	    }
	}
	
	p.required {
		display: inline-block;
	    margin-bottom: 1em;
	
		&:before { 
			content: "* ";
	    	color: red;
		}
	}

	.mura-form-radio,
	.mura-form-checkbox {
		p {
			float: left;
			width: 25%;
			margin-right: 2%;
			padding-right: 7px;
			font-weight: bold;
			line-height: 1.4;
			text-align: right;
		}

		label {
			float: none;
			display: block;
			width: 100%;
			margin: 0 0 .8em;
			padding: .2em 0 0;
			font-weight: normal;
			text-align: left;

			&.checkbox {
				text-align: left;
				width: auto;
				padding-top: .5em;
				margin-left: 28%;
				line-height: 1;

				input.checkbox {
					float: left;
				}
			}
		}
	}
}

.mura-gallery {

	ul {

		li {
			/* width : auto; Width is set dynamically in /includes/display_objects/gallery/htmlhead/gallery.cfm */
			/* Height is being set by jQuery based on the rendered height of the <li> to avoid float issues. */
			font-size: 1.1em;
			margin: 0 2% 0 0;
			padding: 0 0 1.5em;
			text-align: center;

			a {
				display: block;
				margin: 0 auto .75em;
			}

			img {
				display: block;
				margin: 0 auto;
			}

			p {
				font-size: .9em;
				margin: 0;
				text-align: center;
			}
		}
	}

	// DL layout
	dl {
		margin: 0 auto;
		padding: 0;

		dt {
			margin: 0 0 .25em;
			padding: 0;
		}

		dd {
			background: transparent;
			float: none;
			line-height: 1.25;
			margin: 0;
			padding: 0;
		}
	}

}

// SiteMap Tree View

.mura-site-map-tree {

	* {
		margin: 0;
		padding: 0;
		}

	ul {
		padding-top: 20px;
		position: relative;
		transition: all 0.5s;
		-webkit-transition: all 0.5s;
		-moz-transition: all 0.5s;
		}

	li {
		float: left; text-align: center;
		list-style-type: none;
		position: relative;
		padding: 20px 5px 0 5px;
		margin: 0 !important;
		transition: all 0.5s;
		-webkit-transition: all 0.5s;
		-moz-transition: all 0.5s;
	}
	
	/*We will use ::before and ::after to draw the connectors*/
	
	li::before,
	li::after{
		content: '';
		position: absolute; top: 0; right: 50%;
		border-top: 1px solid #ccc;
		width: 50%; height: 20px;
	}
	
	li::after{
		right: auto; left: 50%;
		border-left: 1px solid #ccc;
	}
	
	/*We need to remove left-right connectors from elements without 
	any siblings*/
	li:only-child::after,
	li:only-child::before {
		display: none;
	}
	
	/*Remove space from the top of single children*/
	li:only-child{ padding-top: 0;}
	
	/*Remove left connector from first child and 
	right connector from last child*/
	li:first-child::before,
	li:last-child::after{
		border: 0 none;
	}
	/*Adding back the vertical connector to the last nodes*/
	li:last-child::before{
		border-right: 1px solid #ccc;
		border-radius: 0 5px 0 0;
		-webkit-border-radius: 0 5px 0 0;
		-moz-border-radius: 0 5px 0 0;
	}
	li:first-child::after{
		border-radius: 5px 0 0 0;
		-webkit-border-radius: 5px 0 0 0;
		-moz-border-radius: 5px 0 0 0;
	}
	
	/*Time to add downward connectors from parents*/
	ul::before{
		content: '';
		position: absolute; top: 0; left: 50%;
		border-left: 1px solid #ccc;
		width: 0; height: 20px;
	}
	
	li a{
		border: 1px solid #ccc;
		padding: 5px 10px;
		text-decoration: none;
		color: #666;
		font-family: arial, verdana, tahoma;
		font-size: 11px;
		display: inline-block;
		
		border-radius: 5px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		
		transition: all 0.5s;
		-webkit-transition: all 0.5s;
		-moz-transition: all 0.5s;
	}
	
	/*Time for some hover effects*/
	/*We will apply the hover effect the the lineage of the element also*/
	li a:hover,
	li a:hover+ul li a {
		background: #c8e4f8; color: #000; border: 1px solid #94a0b4;
	}
	/*Connector styles on hover*/
	li a:hover+ul li::after, 
	li a:hover+ul li::before, 
	li a:hover+ul::before, 
	li a:hover+ul ul::before{
		border-color:  #94a0b4;
	}
}