<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	
	<bean id="StockQuoteConfig" 
		class="coldspring.tests.davesTest.SimpleConfig" 
		singleton="true">
        <property name="config">
            <map>
                <entry key="wsdl">
					<value>http/services.xmethods.net/soap/urn￼methods-delayed-quotes.wsdl</value>
				</entry>
            </map>
        </property>
    </bean>
	
	<bean id="beanSeven"
		class="coldspring.tests.beanSeven"/>
		
	<bean id="beanEight"
		class="coldspring.tests.beanEight"/>
		
	<bean id="beanNine"
		class="coldspring.tests.beanNine"/>		
	
</beans>