/* @override 
	http://localhost:8500/muracore/admin/css/buttons.css?coreversion=1 */

/* #Buttons
================================================== */

	/* Default Settings */
	a.button,
	button,
	input.submit,
	input[type="submit"],
	input[type="reset"],
	input[type="button"] {
	  padding: 3px 12px;
	  -moz-border-radius: 3px;
	  -webkit-border-radius: 3px;
	  border-radius: 3px;	  
	  display: inline-block;
	  font-size: 11px;
	  font-weight: normal;
	  text-decoration: none;
	  text-shadow: 0 -1px rgba(0,0,0, .35);
	  cursor: pointer;
	 /* margin-bottom: 20px;*/
	  line-height: 16px;
	  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; }
	
	.button.full-width,
	button.full-width,
	input.submit.full-width,
	input[type="submit"].full-width,
	input[type="reset"].full-width,
	input[type="button"].full-width {
		width: 100%;
		padding-left: 0 !important;
		padding-right: 0 !important;
		text-align: center;
		line-height: 18px;
		}
		
	  
	/* Colors */

	a.button,
	button,
	input.submit,
	input[type="submit"],
	input[type="reset"],
	input[type="button"] {
		color: #fff;
		background: #4e4e4e; /* Old browsers */
		background: -moz-linear-gradient(top, rgba(109,109,109,1) 0%, rgba(78,78,78,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(109,109,109,1)), color-stop(100%,rgba(78,78,78,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, rgba(109,109,109,1) 0%,rgba(78,78,78,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, rgba(109,109,109,1) 0%,rgba(78,78,78,1) 100%); /* Opera11.10+ */
		background: -ms-linear-gradient(top, rgba(109,109,109,1) 0%,rgba(78,78,78,1) 100%); /* IE10+ */
		background: linear-gradient(top, rgba(109,109,109,1) 0%,rgba(78,78,78,1) 100%); /* W3C */
		border: 1px solid #e0e0e0;
		border-top: 1px solid #e8e8e8;
		border-left: 1px solid #e8e8e8;
	}

	a.button:hover,
	button:hover,
	input.submit:hover,
	input[type="submit"]:hover,
	input[type="reset"]:hover,
	input[type="button"]:hover {
		background: #4e4e4e; /* Old browsers */
		background: -moz-linear-gradient(top, rgba(90,90,90,1) 0%, rgba(56,56,56,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(90,90,90,1)), color-stop(100%,rgba(56,56,56,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, rgba(90,90,90,1) 0%,rgba(56,56,56,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, rgba(90,90,90,1) 0%,rgba(56,56,56,1) 100%); /* Opera11.10+ */
		background: -ms-linear-gradient(top, rgba(90,90,90,1) 0%,rgba(56,56,56,1) 100%); /* IE10+ */
		background: linear-gradient(top, rgba(90,90,90,1) 0%,rgba(56,56,56,1) 100%); /* W3C */
		border: 1px solid #d5d5d5;
		border-top: 1px solid #d5d5d5;
		border-left: 1px solid #d5d5d5; 
		}

  	a.button:active,
  	button:active,
  	input.submit:active,
	input[type="submit"]:active,
	input[type="reset"]:active,
	input[type="button"]:active {
		border: 1px solid #333;
		background: #4e4e4e; /* Old browsers */
		background: -moz-linear-gradient(top, rgba(90,90,90,1) 0%, rgba(56,56,56,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(90,90,90,1)), color-stop(100%,rgba(56,56,56,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, rgba(90,90,90,1) 0%,rgba(56,56,56,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, rgba(90,90,90,1) 0%,rgba(56,56,56,1) 100%); /* Opera11.10+ */
		background: -ms-linear-gradient(top, rgba(90,90,90,1) 0%,rgba(56,56,56,1) 100%); /* IE10+ */
		background: linear-gradient(top, rgba(90,90,90,1) 0%,rgba(56,56,56,1) 100%); /* W3C */
	}